[2016-10-27 18:04] Natkeeran opened #1 "Review islandora_context to see if it can be used for annotations"
Ideally, we want annotations to be displayed as add-ons to existing objects such as an image, video, audio or pdf.

We need to look at ways to manipulate an object's display without having a custom content model or custom viewer.  We also want to add controls to the object that user can interact with.

@MarcusBarnes pointed out that https://github.com/mjordan/islandora_context could be useful.  Th

[2016-11-01 19:51] Natkeeran opened #2 "Create a simple prototype module for basic image annotations"
Create a module to do a proof of concept for image annotations using https://annotorious.github.io/.

Modules and Libs involved:
* https://annotorious.github.io/
* Context
* islandora_context
* context_addassets.

[2016-11-03 18:37] Natkeeran opened #3 "Create a UI prototype for OpenSeadragon using an open source annotation library"
Review open source annotations libraries for OpenSeaDragon and decide on a library that be used for UI.

* http://annotorious.github.io/ (preferred)
* https://github.com/Emigre/openseadragon-annotations
* https://github.com/ProjectMirador/mirador
* https://github.com/DigitalSlideArchive/openseadragon-annotations

[2016-11-03 18:38] Natkeeran opened #4 "Create a UI prototype for Video.js using an open source annotation library"
Review open source annotations libraries for Video.js and decide on a library that be used for UI.

*github.com/CtrHellenicStudies/OpenVideoAnnotation

[2016-11-03 18:40] Natkeeran opened #5 "Review the architecture of islandora_image_annotation"
Review the architecture of islandora_image_annotation: https://github.com/Islandora-Labs/islandora_image_annotation

Is it using any annotations libraries?
Does it confirm to any annotation standard (ex WADM)?

[2016-11-03 19:25] kstapelfeldt commented on #5
Hey! It used Shared Canvas (sorry, on my phone or I'd get a link), which implemented OAC, which was the precursor to the current Web annotation Content Model. Annotations were all stored in a single datastream, I believe. It only worked with simple images. I worked with the developer who wrote this module and may be able to fill in gaps.

[2016-11-03 19:26] kstapelfeldt commented on #5
http://iiif.io/model/shared-canvas/1.0/

[2016-11-03 19:27] kstapelfeldt commented on #5
https://mail.google.com/mail/u/0/?source=sync&tf=1&view=pt&th=135ede4540a91b48&search=all

[2016-11-03 19:32] kstapelfeldt commented on #5
Sorry, wrong link on my clipboard. All the links I have now are rerouted to IIIF - I know you want to do your due diligence here, but suspect everything it used has been superceded.

[2016-11-08 15:11] Natkeeran opened #6 "Large image (openseadragon) - annotations position issue"
Steps to reproduce:
1. Go to a large image page
2. Scroll down on the page
3. Create an annotation

Actual:
The annotations are positioned below the selected selection area.

Expected:
The annotations should be positioned in the selected selection area.

Developer Notes:
It appears that when the user scrolls, the annotations are placed down the image at a distance proportional to the scrolling dis

[2016-11-11 18:12] MarcusBarnes commented on #1
Prototypes by @Natkeeran indicate that https://github.com/mjordan/islandora_context is helpful.  To be determined if islandora_context would be a required.

[2016-11-11 18:12] #1 closed

[2016-11-11 20:37] MarcusBarnes commented on #6
@Natkeeran provided a workaround in commit https://github.com/digitalutsc/islandora_web_annotations/commit/37e293196e8cff50b64ff976ddc52aa39699e964  We are looking for a cleaner solution.

[2016-11-15 15:46] Natkeeran commented on #3
We have a working UI prototype that will be used for the initial iterations based on http://annotorious.github.io/  js library.

[2016-11-15 15:46] #3 closed

[2016-11-15 15:53] Natkeeran opened #7 "Create interfaces for annotation and annotationConatiner"
Create php interfaces that confirms to [Web Annotation Protocol](https://www.w3.org/TR/annotation-protocol/#bib-annotation-model) to do CRUD operations.

* interfaceAnnotation
* interfaceAnnotationContainer

[2016-11-17 13:52] Natkeeran opened #8 "Implement create, get annotationsContainer"
When a save request is prompted create a annotationContainer, save it with reference to the object.  When a load request is received, return the annotationContainer.

[2016-11-18 14:15] Natkeeran opened #9 "Implement update, delete annotation in the backend"
Enable the user to update a single annotation.  Save the changes to fedora.
Enable the user to delete a single annotation.  Save the changes to fedora.

[2016-11-18 20:32] Natkeeran opened #10 "Create an abstraction layer to make ajax calls to backend"
Currently, the initial prototype has the create,  update, delete and load/get ajax calls in the large_image.js.  These ajax calls will be similar or same for other content types as well.  These calls can be abstracted out into its own js so it can be used by other content types to interact with the backend.

[2016-11-21 13:30] Natkeeran opened #12 "Import WADCContainer and WADC Content Models upon install"
The annotations models need WADCContainer and WADC Content Models to be in the fedora to work.  These need to be installed when the module gets installed, similar to how Oral Histories module installs WADC Content Model.

[2016-11-21 13:57] Natkeeran opened #13 "Interation 1 php refactoring/code cleanup"
* Re-factor to extract constants
* Add UUID to annotation and annotationContainer
* Add error handling
* Improve return json to conform more to the Annotation Protocol
* Add comments
* Add a Util class to handle static methods
* Clean up controller and method signatures

[2016-11-22 14:49] MarcusBarnes commented on #9
Initial work on this addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/14 (merged into master with commit https://github.com/digitalutsc/islandora_web_annotations/commit/82e032b4c603075cb95b055d5b3f7e2b20fa63b4).  Please create further more specific issues for further refinements and functionality.

[2016-11-22 14:49] #9 closed

[2016-11-22 15:00] MarcusBarnes commented on #2
The proof-of-concept is present in commit https://github.com/digitalutsc/islandora_web_annotations/commit/82e032b4c603075cb95b055d5b3f7e2b20fa63b4.

[2016-11-22 15:00] #2 closed

[2016-11-22 15:15] MarcusBarnes commented on #7
Initial work:

* interfaceAnnotation: https://github.com/digitalutsc/islandora_web_annotations/blob/master/includes/interfaceAnnotation.php

* interfaceAnnotationContainer: https://github.com/digitalutsc/islandora_web_annotations/blob/master/includes/interfaceAnnotationContainer.php

[2016-11-22 15:15] #7 closed

[2016-11-22 15:34] MarcusBarnes commented on #8
Initial work on this functionality was included as part of pull request https://github.com/digitalutsc/islandora_web_annotations/pull/14 (merged in commit https://github.com/digitalutsc/islandora_web_annotations/commit/82e032b4c603075cb95b055d5b3f7e2b20fa63b4).

[2016-11-22 15:34] #8 closed

[2016-11-22 16:04] Natkeeran opened #15 "Implement ETag/If-Match based check before update/delete"
Web Annotation Protocol requires an ETag to be checked before updating or deleting an annotation.  ETag is generated by the server (https://tools.ietf.org/html/rfc7232#section-2.3.1).  Checksum, version or timestamp could be used an as ETag.  The request must include the ETag in the "If-Match" header parameter when making the request.  Example from https://www.w3.org/TR/annotation-protocol/#update

[2016-11-22 16:09] Natkeeran opened #16 "Implement Solr search of the annotations"
Annotations are fedora objects with WADM Content Model.  Currently, they are being created as JsonLD data-stream with application/ld+json MIME type.  GSearch does not support indexing of application/ld+json datastreams.  We have two options:

* Change the Annotation MIME type to xml for storage purposes.  Use that for indexing.  When, retrieving, convert it back to  json-ld.
* Create a derivative

[2016-11-23 13:49] Natkeeran opened #18 "Review using Annotorious as a plugin for AnnotatorJs"
[AnnotatorJs](http://annotatorjs.org/) is a generic solution for web annotations.  Well supported projects such as [Hypothesis](https://github.com/hypothesis) use AnnotatorJs.  [Annotorious](http://annotorious.github.io/) can plugin to AnnotatorJs: http://annotorious.github.io/plug-outs/okfn-annotator.html.

Additional features could be implemented by using Annotorious as a plugin for AnnotatorJs.

[2016-11-23 13:50] Natkeeran commented on #12
[PR#17](https://github.com/digitalutsc/islandora_web_annotations/pull/17) does provide functionality to import the required objects.  However, the exact hook/method to import is yet to be finalized.

[2016-11-23 16:58] MarcusBarnes commented on #10
Initially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/19 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/3b9d1c50cc1bd465b40e7d33c064b3467514a78d).

[2016-11-23 16:58] #10 closed

[2016-11-23 17:18] MarcusBarnes commented on #13
Initial work on these points have been added as of commit https://github.com/digitalutsc/islandora_web_annotations/commit/3b9d1c50cc1bd465b40e7d33c064b3467514a78d.  As appropriate, please create new issues for further work and refinement on the items in the list.

[2016-11-23 17:18] #13 closed

[2016-11-23 20:17] Natkeeran opened #20 "Implement basic permissions for annotaitons"
Implement basic drupal based permissions:

* Edit all annotations
* Create annotations
* View annotations
* Delete all annotations

* Delete own annotations
* Edit own annotations

Also need to review how these interact with Islandora permissions like view datastream.

[2016-11-24 18:54] MarcusBarnes opened #21 "Add basic drush support"
Create islandora_web_annotations.drush.inc to add basic drush support such as disable and enable.

[2016-11-25 16:31] MarcusBarnes commented on #21
Basic support works when running the following drush commands from drupal site root:

``drush pm-enable islandora_web_annotations``

``drush pm-disable islandora_web_annotations``

We should consider adding other drush commands that may be helpful to those administering this module as the need arises.    Create separate issues for these as appropriate.

[2016-11-25 16:31] #21 closed

[2016-11-29 19:16] Natkeeran opened #22 "Annotations list block"
Display all annotations as a list in a block or div.  A specific annotation text in the list and the cross-ponding annotation needs to be related.

* Number the annotation boxes and the cross-ponding texts in the list
* If the user hover over a text in the list, highlight that annotation box

[2016-12-02 15:38] MarcusBarnes commented on #20
Initial work in pull request https://github.com/digitalutsc/islandora_web_annotations/pull/23, merged in commit https://github.com/digitalutsc/islandora_web_annotations/commit/2cf9813bb7a5c2c2e4f9d0e7555fecd3ece55f31.

[2016-12-02 15:38] #20 closed

[2016-12-05 21:19] MarcusBarnes commented on #16
Initially address in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/24 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/25076cfaf220cec362255750f355006c76089792).

[2016-12-05 21:19] #16 closed

[2016-12-07 22:01] Natkeeran opened #25 "Implement basic automated test converage and travis CI"
Test coverage for
* CRUD operations for annotation and annotation container

[2016-12-08 17:22] Natkeeran opened #27 "Create End to End/User Acceptance (manual) test plan"
Create a test plan with sanity and extended test cases for manual end to end testing.  This test plan should cover range of common use cases.

A typical format for test case is as below:
* Test Case Info: #, Name/Description, System, Subsystem, Executed By, Executed Date,
* Use Cases/Requirements Tested
* Steps
* Expected Results
* Actual Results or Pass/Fail

A sample template: https://images.tem

[2016-12-08 18:17] Natkeeran opened #28 "Basic image - some times annotations are not loading"
Steps to reproduce:
Some times, when navigating to a basic image and click to load the annotations.  Those annotations do not get loaded.  If you refresh the page and load it, it will.

Expected result:
It should load the basic image annotations.

[2016-12-08 18:50] Natkeeran opened #29 "How should we provide reference info in annotations?"
Currently annotations are uniquely identified by PID.  Does this need to be shown in the front end so users can reference the annotations externally?

[2016-12-08 18:54] Natkeeran opened #30 "Setting the namespace for annotations"
We have to which namespace is appropriate for annotation objects.  We have 3 options:
* use default islandora namespace
* use the object's namespace (could be difficult to determine!)
* provide config option to specify a namespace

[2016-12-08 18:55] kimpham54 commented on #27
@Natkeeran Here's a sample test case doc I created for an Islandora release: https://docs.google.com/spreadsheets/d/1jLaTe1Bu6L0fgDCLTo9FBkl5_SaKV5hW6lBqRxMWrUE/edit?usp=sharing

[2016-12-08 18:59] Natkeeran commented on #27
Thanks @kimpham54 .  Yes, we need something similar for the annotations module.

[2016-12-08 19:44] MarcusBarnes commented on #22
The first bullet has been address in pull request https://github.com/digitalutsc/islandora_web_annotations/pull/26 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/fd746c83438e9f15aec3156c671becc771d86766).

We are deferring work on the second bullet
* If the user hover over a text in the list, highlight that annotation box

... until we determine it is required

[2016-12-08 19:44] #22 closed

[2016-12-14 15:50] kimpham54 opened #32 "Feature request: indicating the parent in an Annotation object, having that be an indexable field"
Feature request: indicating the parent in an Annotation object, having that be an indexable field

Solr currently indexes an annotation value and annotation title (which has the parent PID listed in the title). Although the annotation currently indicates the parent, you cannot easily navigate back to the parent in the search results.

If we isolate the parent pid and index that, when we do a searc

[2016-12-14 15:56] kimpham54 opened #33 "Mimic HPIC Block View Layout?"
HPIC view has Title Team Name and Text of annotations, currently annotations are numbered and the block shows the annotations according to that number. Is it a nice to have or a necessary feature to have annotations that can be organized by Team Name? See http://digitalscholarship.utsc.utoronto.ca/projects/hpic/node/1

[2016-12-14 16:00] kimpham54 opened #34 "base.css font url loading from broken path"
Tested on 7.x-1.8 VM
`../../lib/css/hypothesis/fonts/h.woff` is being recognized as

`css/lib/css/hypothesis/fonts/h.woff
`
This works:
`../../../lib/css/hypothesis/fonts/h.woff'`

Taken from:
http://localhost:8000/sites/all/modules/islandora_web_annotations/css//base/base.css

[2016-12-14 16:15] kstapelfeldt commented on #32
As a user, I want to discover an annotation, click on the object, and be taken to the parent object. I don't think a regular user will ever want to see a standard Islandora object view for an annotation. Ideally, the annotation discovered through the search would be active on the page somehow, so the user would have a mechanism for navigating to the annotation on which they got the search result h

[2016-12-14 16:30] kstapelfeldt commented on #29
@Natkeeran - Hope it's okay that I comment. I think this ties to #32 to some extent. I can see why this would be relevant to see a PID - I would say that in whatever mechanism we are using to display the annotations text (in a box) it might be valuable to be able to expose a link to the object page for management and referencing. In no case should we just print a PID (like natkeeran:21) if at all

[2016-12-14 16:32] kstapelfeldt commented on #33
@kimpham54 - From my perspective, is not a relevant feature now. Even in this course, Anne has moved away from the team-based approach.  It would be nice to be able to configure what data appears for each annotation in the block (similar to the way that the metadata view works) but even this, to me, is a nice-to-have and not a firm requirement.

[2016-12-14 21:28] MarcusBarnes commented on #15
Initially addressed for basic image and large image with pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/31 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/b0af4adffff84b44b2362159c5c8845145b80cd4).

[2016-12-14 21:28] #15 closed

[2016-12-14 21:30] MarcusBarnes opened #35 "Update basic image documentation"
Move documentation to the Wiki.  For this issue, update the setup for adding annotation capabilities to basic image collections.

[2016-12-14 21:31] MarcusBarnes opened #36 "Update large image documentation"
Move documentation to the Wiki.  For this issue, update the setup for adding annotation capabilities to large image collections.

[2016-12-20 17:23] Natkeeran opened #37 "Annotations block does not get displayed if load annotations button is not clicked"
Steps to Reproduce:
* Go to a basic image
* (Don't click the load annotations button)
* Add annotations
* The annotation block does not show

Expected:
* The annotation block should show the newly added annotations.

Actual
* The annotation block does not show

[2016-12-20 18:44] kstapelfeldt commented on #29
Based on the discussion in our meeting today, this feature is on hold unless we discover concrete use cases and reasons for accessing the annotations discretely in this fashion.

[2016-12-20 18:44] #29 closed

[2017-01-03 20:01] MarcusBarnes commented on #12
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/38 (committed in https://github.com/digitalutsc/islandora_web_annotations/commit/2cdda132890390deaa0db5c3fa024a3e10991f9d).

[2017-01-03 20:01] #12 closed

[2017-01-03 21:51] MarcusBarnes commented on #25
@Natkeeran Maybe we should break this up into smaller issues/tasks?

[2017-01-04 13:53] MarcusBarnes commented on #5
As we have come up with a more general approach, I'm closing this issue.  Thank you @Natkeeran for initially recording the potential source and @kstapelfeldt for chiming in with your comments and thoughts.

[2017-01-04 13:53] #5 closed

[2017-01-04 14:47] Natkeeran opened #40 "Extend web annotatons to support Paged Content model"
Paged Content model uses openseadragon viewer.  Extend web annotations to support Paged Content model.

[2017-01-04 16:45] MarcusBarnes opened #41 "Update .info file to list module dependencies"
Update the .info file to include context, islandora_context and context_addassets as dependencies.  This will help when users are trying to do a basic install.

[2017-01-05 17:40] MarcusBarnes commented on #34
After several attempts to reproduce unsuccessfully, I'm closing this issue.  We can reopen if someone else experiences the same behaviour.

[2017-01-05 17:40] #34 closed

[2017-01-05 17:56] MarcusBarnes commented on #28
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/43 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/1268980d50b4cc82e651932c1262712f58648878).

[2017-01-05 17:56] #28 closed

[2017-01-05 17:59] MarcusBarnes opened #44 "Basic Image: Use plus icon for adding annotation rather than default feather"
As pointed out in a [comment](https://github.com/digitalutsc/islandora_web_annotations/pull/43#issuecomment-270710744), once one clicks the [ + ] icon, it goes back to the default feather icon for basic_images.  For consistency sake, it might be worthwhile replacing the default feather icon with the [ + ] icon (or whatever icon is chosen for adding annotations across content models and solution pa

[2017-01-05 19:20] MarcusBarnes commented on #37
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/45 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/4ffdc0f8f8a6987eb5d4bc99c87ab3e3be2ab0c7).

[2017-01-05 19:20] #37 closed

[2017-01-05 20:31] MarcusBarnes commented on #35
Initial go at updating basic_image configuration can now be found in the project wiki's [basic_image configuration page](https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Basic-Image).   Closing this issue.  If you find issues with the documentation for configuring basic_image content model, please update the wiki should you have permission or create an issue with a docu

[2017-01-05 20:31] #35 closed

[2017-01-05 20:49] MarcusBarnes commented on #36
Initial work on how to [configure annotations for Large Image content model objects](https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Large-Image) is now in the project wiki. Closing this issue. If you find issues with the documentation for configuring large_image content model, please update the wiki should you have permission or create an issue with a documentation la

[2017-01-05 20:49] #36 closed

[2017-01-05 21:06] Natkeeran commented on #33
Closing this as  it is not a needed use case for now.

[2017-01-05 21:07] #33 closed

[2017-01-05 21:55] MarcusBarnes opened #47 "Document how to configure Islandora so that annotations are indexed in Solr."
Extract steps in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/24 which describe how to get basic indexing of annotations in Solr.

[2017-01-06 13:56] MarcusBarnes commented on #32
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/46 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/cc16737763f510396bd2ad8c2ddaeaa8ee28694b).

[2017-01-06 13:56] #32 closed

[2017-01-06 19:08] MarcusBarnes commented on #30
Initial work on the "provide config option to specify a namespace" option in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/49 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/d177513286e760dead152efbce0e1a475d2bc629).

[2017-01-06 20:29] Natkeeran commented on #40
Just changing the context target to page content with the same config as large image works out of the box for the UI.  Each page is a separate object, thus works very similar to large image.  Some changes will be required to make it work fully.

[2017-01-06 20:33] MarcusBarnes commented on #47
Initial go at the documentation created in the wiki: [Configuration: Indexing Annotations in Solr](https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Indexing-annotations-in-Solr).  Closing this issue. If you find issues with the documentation please update the wiki should you have permission or create an issue with a documentation label. Thank you.

[2017-01-06 20:33] #47 closed

[2017-01-06 21:00] Natkeeran commented on #27
## Sanity Tests

### Verify Installation
* Verify that islandora:WADMCModel and islandora:WADMContainerCModel are created in fedora after installaing the module

### CRUD Tests
* Create Annotation
* Edit Annotation
* Update Annotation
* Load Annotations
* Add then load annotations
* Load then add annotation
* Verify that Label is updated

### Permissions related Tests
* Test that CRUD operations a

[2017-01-09 21:06] MarcusBarnes opened #50 "Consider creating a pull request template"
Consider creating a pull request template like that used for Islandora: https://github.com/Islandora/islandora/blob/7.x/.github/PULL_REQUEST_TEMPLATE.md

GitHub Help documentation: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2017-01-10 20:02] MarcusBarnes commented on #6
The workaround doesn't appear to work in Chrome (v54.x and v.55.x).

[2017-01-11 16:34] MarcusBarnes commented on #6
Fix in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/52 (committed with (https://github.com/digitalutsc/islandora_web_annotations/commit/bf88ffdbbefb2b436e9a675be7c23794c4cfb0cd).

[2017-01-11 16:34] #6 closed

[2017-01-11 20:43] kimpham54 commented on #27
Spreadsheet to add new actions
https://docs.google.com/spreadsheets/d/1tEkMvRQdNwGREDiUOCCK4aUNFgjoor4fuAfKTrNRPHE/edit?usp=sharing

[2017-01-12 15:05] Natkeeran opened #53 "Video annotation position issue"
When the goes over an existing annotation to edit, the edit window is shown off to the right and bottom.

[2017-01-12 21:22] MarcusBarnes commented on #50
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/51 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/09ad12b3c56b90777c5da60165f892e1573e6f0e).

[2017-01-12 21:22] #50 closed

[2017-01-13 17:48] MarcusBarnes commented on #40
Initial documentation for Paged Content in the wiki here:  https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Page-Content

[2017-01-13 17:48] #40 closed

[2017-01-16 19:04] kstapelfeldt opened #54 "Size limit of annotation"
If an annotation with a lot of text is created (entire first page from [here](http://veggieipsum.com/)) then the edit and delete tools become unavailable to the user.
![screen shot 2017-01-16 at 1 50 54 pm](https://cloud.githubusercontent.com/assets/467898/21995722/5cb2fa42-dbf4-11e6-9121-12ae36bd9c9c.png)

[2017-01-16 19:04] kstapelfeldt commented on #54
seems like we should document limits for the user somewhere, even if we create a workaround for annotations of a certain size.

[2017-01-16 19:32] Natkeeran opened #55 "Deleting Annotation Container if all annotations are deleted"
Annotation Container should be deleted if all annotations are deleted.

[2017-01-16 19:35] kstapelfeldt opened #56 "Working with Islandora core permissions"
As currently written, the module allows roles that have the appropriate web annotation permissions to perform CRUD operations on annotations. The only currently required Islandora permission is "View repository objects." This means that, using the Web Annotation model, users can perform CRUD operations on annotations (which are Islandora objects). This means users can "Add datastreams to repositor

[2017-01-16 19:46] kstapelfeldt commented on #56
wrote Melissa

[2017-01-16 20:20] kstapelfeldt opened #57 "Deleting Annotations not via the Annotations UI breaks the front end"
If you navigate directly to an annotation using a known PID in the Drupal interface (A URL such as http://localhost:8000/islandora/object/annotation:13) and purge the object using the manage tab, you will lose the ability to view or load all other annotations from the web annotation/sea dragon interface.

Please let me know if I can provide additional details.

[2017-01-16 20:27] MarcusBarnes commented on #57
@kstapelfeldt @Natkeeran I've been able to confirm this behaviour.

[2017-01-16 20:43] kstapelfeldt opened #58 "An annotation does not load in the interface and exists in Fedora. Can make multiple annotation containers."
1. Created a new large image object as admin
2. Masqueraded as an authenticated user with permission to create web annotations (user has been successfully used to create annotations in this instance) and created an annotation. I received confirmation that annotation was created. (I did not check to see if the block underneath was updated. I'm sorry for that.)
2. Switched to a different authenticat

[2017-01-17 18:35] kstapelfeldt opened #59 "Can create annotation without annotation container"
When the content models are ingested for the Web Annotation solution pack, they become available in a number of default locations (including the collection management interface). Using this, it is possible to select the content models in the collection policy and ingest objects. One can ingest an annotation without an annotation container. Explore options for removing the content models from the c

[2017-01-18 16:55] MarcusBarnes commented on #57
The code in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/60 (merged with commit 406899a1fa0fdf9f3b642558688d92c20ad9c280) addresses the UI breaking.   @Natkeeran  and I have some ideas on how to make sure that the annotationContainer is updated properly when purging an object using the manage object admin interface.  I suggest we keep this issue open until we've explo

[2017-01-18 17:42] kimpham54 opened #61 "Ordering CSS/JS files"
Sometimes the order in which JS files are loaded are important, but indicating the order is not yet possible in Context.

Description: Experiencing interface issues if JS files for video are loaded in the order they are presented in Islandora context.
Steps to reproduce: Add context JS from modules and select all of the JS files required
Platform: php 5.5.9, islandora 7.x-1.7 on firefox and chrome

[2017-01-19 14:44] kstapelfeldt commented on #27
Kim and I were talking and thought we wouldn't proceed further with testing until the active issues are resolved. I think we're getting closer to a standard testing spreadsheet we can package with the module for community testers helping with releases. I know Kim was still interested in exploring which of the resulting tests it makes sense to automate and how that would happen.

[2017-01-19 15:59] Natkeeran commented on #54
[code]
in base.css will add a scroll when the height of the annotation box is larger than 300px.

[2017-01-19 19:08] Natkeeran commented on #54
Created this PR to address this issue: https://github.com/digitalutsc/islandora_web_annotations/pull/63

[2017-01-19 19:23] MarcusBarnes commented on #54
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/63 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/7b2f40538b4018432b1e527edea1ebdef8142ea9) addresses the usability.

[2017-01-19 19:23] #54 closed

[2017-01-20 14:40] Natkeeran commented on #55
This PR addresses this issue: https://github.com/digitalutsc/islandora_web_annotations/pull/64

[2017-01-20 14:40] #55 closed

[2017-01-20 17:32] MarcusBarnes commented on #57
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/65 (commit d2d2cc9).

[2017-01-20 17:32] #57 closed

[2017-01-20 18:35] MarcusBarnes commented on #58
@Natkeeran and myself have been unable to reproduce.  @kstapelfeldt, would you please clone the most recent master and confirm that you're still able produce the issue?  If you're able to reproduce from the latest commits,  would you please provide detailed steps (again) so that we can attempt to reproduce?  Thank you.

[2017-01-20 18:50] kstapelfeldt commented on #56
Kirsta to write Melissa to take this off of committers, and Marcus to follow up with better docs and perhaps touch base with key community members.

[2017-01-20 18:51] #4 closed

[2017-01-20 21:39] MarcusBarnes opened #66 "Admin Form: Debug Flag for Verbose Messages"
Tasks:

1.  Create admin form
2.  Provide option for a verbose (debug) notification text that will include verbose output for confirmation messages.  Default to simple, non-verbose messages.
3. Check for flag and change alert box text on annotation creation, save (and edit) appropriately.

[2017-01-20 21:45] MarcusBarnes opened #67 "Admin Form: Large Image - Add remove box around label at specific zoom level"
Add a content model specific configuration section to the admin form.

For large image, add a configuration option to record a zoom level at which to hide the blue box and or label (value strictly between 0 and 1). Default would be to keep the blue box and label.

Depends on creation of admin form step in issue https://github.com/digitalutsc/islandora_web_annotations/issues/66.

[2017-01-20 21:46] MarcusBarnes commented on #30
Config option could be more easily added after creation of admin form task in issue https://github.com/digitalutsc/islandora_web_annotations/issues/66.

[2017-01-20 21:51] MarcusBarnes opened #68 "Zooming - Large Image: Adjust label and label box in proportion with zoom level."
Currently, when zooming on a large image, the annotation label and label box do not adjust in proportion with the zoom level in large-image.

[2017-01-20 21:56] MarcusBarnes opened #69 "Documentation: Permissions"
Create a wiki page that details how to set up permissions for using Islandora Web Annotations for various known and anticipated use cases.

[2017-01-20 21:58] MarcusBarnes opened #70 "Basic Image, Large Image, Page Content: Load Annotation Button should Toggle Annotations"
Change the functionality of the load annotation button (as appropriate) to toggle annotations on/off.  This would currently affect the following content models:

* basic image
* large image
* page content

[2017-01-20 22:01] MarcusBarnes commented on #56
I've created a separate issue for [documenting permissions](https://github.com/digitalutsc/islandora_web_annotations/issues/69), since current documentation needs improvement. Once complete, we can use this documentation for gathering community input and possible alternative ways of managing annotation specific permissions.

[2017-01-23 14:20] kstapelfeldt commented on #56
@MarcusBarnes Can we close this issue then?

[2017-01-23 14:22] #56 closed

[2017-01-23 15:51] MarcusBarnes commented on #58
@kstapelfeldt I was able to reproduce when switching users as you described using the [Masquerade module](https://www.drupal.org/project/masquerade).  I will investigate further.

[2017-01-23 17:40] kstapelfeldt opened #71 "Blue Box surrounding number fails to scale?"
Created an annotation and blue box with number exceeds box drawn for annotation. Firefox 50.1.0. Seems to happen when an annotation is created with the image zoomed. All the blue boxes seem to be the same size.
<img width="543" alt="screen shot 2017-01-23 at 12 36 29 pm" src="https://cloud.githubusercontent.com/assets/467898/22215355/0b41c83a-e169-11e6-9601-7493138d5b51.png">

<img width="425" alt

[2017-01-23 17:45] MarcusBarnes commented on #71
This issue is related to https://github.com/digitalutsc/islandora_web_annotations/issues/68.

[2017-01-23 18:34] kimpham54 commented on #71
if the blue box scaled to the size of the annotation area you could potentially get very small blue boxes where you can’t read the number of the annotation. One option is that instead of having the blue box inside the annotation area, it can be adjacent to it?

[2017-01-23 18:39] MarcusBarnes commented on #71
@kimpham54 That's a good suggestion.  We can explore that when working on issue #68.

[2017-01-23 18:44] MarcusBarnes opened #72 "Base.js: AJAX url needs to be updated"
The URL parameter in the AJAX calls in base.js needs to be updated so as to not assume localhost as the domain.   For example, see https://github.com/digitalutsc/islandora_web_annotations/blob/master/js/base/base.js#L242.

[2017-01-23 19:21] MarcusBarnes commented on #58
When creating annotations as certain classes of users, the created objects are inactive in Fedora (including the AnnotationContainer objects).

The following addresses the issue.

1.  Enable the Islandora Simple Workflow module.
2.  For the roles with create annotation permissions, make sure that these roles also have the `Bypass default inactive object state`  permission provided by Islandora Sim

[2017-01-23 19:44] kstapelfeldt commented on #71
@kimpham54 +1

[2017-01-23 19:58] kstapelfeldt commented on #58
This works. Also, if I turn off Simple Workflow module in the VM, I can't recreate the issue.

[2017-01-23 21:22] MarcusBarnes commented on #58
@kstapelfeldt and @Natkeeran point out that this issue is related to the Islandora Simple Workflow module.   If it is off, everything works as expected.  If the module is enabled, you will need to follow the steps in comment https://github.com/digitalutsc/islandora_web_annotations/issues/58#issuecomment-274589156.  The issue arises because when Islandora Simple Workflow module is enabled, new obje

[2017-01-23 21:23] MarcusBarnes commented on #58
I'll create a sperate issue to document the above issue with Islandora Simple Workflow.

[2017-01-23 21:23] #58 closed

[2017-01-23 21:25] MarcusBarnes opened #73 "Documentation: Islandora Simple Workflow permissions"
When the Islandora Simple Workflow utility module is enabled, new objects (including AnnotationContainers) have an Inactive state in Fedora, which causes issues with the annotation creation workflow.

Create documentation for the workaround (see comment https://github.com/digitalutsc/islandora_web_annotations/issues/58#issuecomment-274589156).

[2017-01-25 17:47] Natkeeran commented on #72
This PR https://github.com/digitalutsc/islandora_web_annotations/pull/74 address this issue.  Thank you Marcus.

[2017-01-25 17:47] #72 closed

[2017-01-26 16:52] MarcusBarnes commented on #70
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/75 (commit https://github.com/digitalutsc/islandora_web_annotations/commit/c863ef95d55412d82d16c9185edc2b0017cd480c).

[2017-01-26 16:52] #70 closed

[2017-01-27 21:43] Natkeeran commented on #66
This PR addresses this issue: https://github.com/digitalutsc/islandora_web_annotations/pull/78

[2017-01-27 21:43] #66 closed

[2017-01-31 18:57] MarcusBarnes commented on #73
A wiki page has been created to document how to use Islandora Simple Workflow and Islandora Web Annotations:  https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Working-with-Islandora-Simple-Workflow .

[2017-02-06 15:46] kimpham54 opened #79 "Documentation: JSON-LD content format"
add to wiki documentation a sample of what a complete, all properties populated JSON-LD datastreams for both WADMAnnotationContainer and WADMAnnotation would look like

[2017-02-07 20:53] Natkeeran opened #83 "Add metadata for video annotations"
The video annotations do not have accurate metadata information (user, creation date etc).  This metadata needs to be added within the json-ld structure we use.

[2017-02-07 21:36] MarcusBarnes opened #84 "Review Permissions for Video Annotations"
Make sure that the permissions in place for video annotations match those for the other content types (such as basic image).

[2017-02-09 16:01] kimpham54 opened #86 "Turning off the dialog box after an annotation is created"
We don't need to have a dialog box once an annotation is created - I think it's an extra unncessary confirmation step that will hinder someone's workflow. Thoughts @kstapelfeldt ?

[2017-02-09 16:54] MarcusBarnes commented on #86
If the above behavior suggested above is desirable, we can choose to include the success dialog boxes only when Verbose Alert Messages setting is checked in the Islandora Web Annotations admin settings.

[2017-02-09 17:01] kimpham54 commented on #86
@MarcusBarnes agreed. I think in the verbose alert messages should include the content of the annotation that's being created

[2017-02-09 17:04] MarcusBarnes opened #87 "Admin setting: Use Solr view Web Annoation Block (Hide default annotation list block)"
Add admin setting to hide the default annotation list block (and use a Solr view web annotation block instead if desired).

[2017-02-09 19:52] MarcusBarnes commented on #87
It has been decided to remove the default annotation list block code in favour of using a Solr view block like that added in commit https://github.com/digitalutsc/islandora_web_annotations/commit/449caa56f735e7e29fa5d4ad238a2445fa6c460f.

[2017-02-09 19:52] #87 closed, assigned to MarcusBarnes

[2017-02-09 20:09] MarcusBarnes opened #88 "Remove default annotation list block code"
As per comment https://github.com/digitalutsc/islandora_web_annotations/issues/87#issuecomment-278753009, remove existing default annotation list block code in favour of using a Solr view block, such as the default provided in https://github.com/digitalutsc/islandora_web_annotations/tree/7.x/includes/views

[2017-02-13 14:37] Natkeeran commented on #61
We are handling this issue with a workaround.  In the context module, it allows for assets to be loaded in different ways, i.e from module and from a file path.  Both are stacked in sequence.  Thus, we are making use of this to order the js.  Though not an ideal solution, it is a sufficient solution for now.  We don't want to make any changes to the Drupal modules.

[2017-02-13 14:37] #61 closed

[2017-02-13 14:51] MarcusBarnes commented on #83
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/89 (merged with https://github.com/digitalutsc/islandora_web_annotations/commit/8c0b25cd8afdd9c2a4a0c8a5f3806f66e237aea3).

[2017-02-13 14:51] #83 closed, assigned to nobody

[2017-02-13 14:51] MarcusBarnes commented on #84
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/89 (merged with https://github.com/digitalutsc/islandora_web_annotations/commit/8c0b25cd8afdd9c2a4a0c8a5f3806f66e237aea3).

[2017-02-13 14:51] #84 closed, assigned to Natkeeran

[2017-02-13 15:07] Natkeeran commented on #53
We have addressed the position issue by modifying the CSS on call back to Viewer and Editor show events.  The fixes are usable.  I'll leave the ticket open until the initial test gets completed for video annotation.

[2017-02-13 16:30] Natkeeran opened #93 "Add the annotations' time info to solr indexing for video annotations"
Add the annotations' time info to solr indexing for video annotations.  Adding the time info to solr indexing for videos will provide the solr view designer.

[2017-02-13 17:35] MarcusBarnes commented on #68
An approach to addressing this was submitted with pull request https://github.com/digitalutsc/islandora_web_annotations/pull/92 (merged with https://github.com/digitalutsc/islandora_web_annotations/commit/c8aff558174ae15eecbe5f0d52a06de3cde84981).

[2017-02-13 17:35] #68 closed

[2017-02-13 19:30] MarcusBarnes commented on #93
Initially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/94 (merged with https://github.com/digitalutsc/islandora_web_annotations/commit/e492d6f004dca9dc9d0684ee147a3f5a5313439a).

[2017-02-13 19:30] #93 closed, assigned to nobody

[2017-02-13 19:58] #86 closed, assigned to nobody

[2017-02-13 20:24] MarcusBarnes commented on #88
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/95 (merged in https://github.com/digitalutsc/islandora_web_annotations/commit/69a0686f052ee892035f7423d98f60112bb5cfed).

[2017-02-13 20:24] #88 closed, assigned to nobody

[2017-02-14 16:07] MarcusBarnes commented on #71
Update - this issue was addressed with the merging of the code in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/92.  We are temporarily leaving the issue open until we review the other ideas put forth in the comments above.  Thank you.

[2017-02-16 22:28] kimpham54 opened #97 "hardcoding localhost url in solr - annotationContainer.php"
https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/includes/AnnotationContainer.php#L244

[2017-02-16 22:29] kimpham54 opened #98 "openseadragon image and zoom controls in Large Image are behind the image"

[2017-02-17 15:40] kimpham54 opened #99 "remove hardlink in js/video/video.js"
links to localhost

[2017-02-17 18:29] #73 closed

[2017-02-17 19:06] MarcusBarnes commented on #97
Closing this issue since this is not a bug.  Rather, the line pointed to above will use the value of the `islandora_solr_url` variable set in Solr URL field in  `admin > Islandora > Solr Index` configuration form.  The function `variable_get` allows you to set an optional default value if the value has not previously been set.   This is what is seen in the line [pointed to above](https://github.co

[2017-02-17 19:06] #97 closed, assigned to nobody

[2017-02-17 21:34] MarcusBarnes opened #101 "AnnotationContainer: Provide ability to configure qualifier prefix"
The prefix used in `$qualifier` at https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/includes/AnnotationContainer.php#L246 may not always be available.  Provide an admin setting to provide a means set this appropriately for a given install.

[2017-02-17 21:50] Natkeeran opened #102 "Delete annotation message"
There is a minor bug in alerting a message when an annotation is delete:
https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/js/base/base.js#L272

## Steps to reproduce
* Delete an annotation - no message is shown, a message should be shown

[2017-02-17 21:51] Natkeeran commented on #98
This issue could not be reproduce when the right path to the CSS.  The module folder name had the 7.x suffix, when moved to the right folder name, the assets loaded properly and this was no longer an issue.

[2017-02-17 21:51] #98 closed, assigned to nobody

[2017-02-21 18:27] MarcusBarnes opened #103 "Enforce namespace restrictions"
Currently, the annotation UI does not handle Islandora's  `Enforce namespace restrictions` namespace configuration setting.  This would be a potentially useful enhancement when having multiple Drupal instances pointing to the same Fedora commons instance.

[2017-02-21 19:11] Natkeeran commented on #101
This PR addresses this issue: https://github.com/digitalutsc/islandora_web_annotations/pull/96

[2017-02-21 19:21] MarcusBarnes commented on #30
It was determined to allow admins the ability to set the namespace for annotations via the module configuration form.  Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/96  (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/403e4654e697ded37c456766848d3e393289517e).

[2017-02-21 19:21] #30 closed

[2017-02-21 19:32] Natkeeran commented on #99
This PR: https://github.com/digitalutsc/islandora_web_annotations/pull/100 address this issue.

Currently merging it.  We have to test this in pre prod.

[2017-02-21 19:32] #99 closed, assigned to MarcusBarnes

[2017-02-21 19:40] MarcusBarnes commented on #102
Addressed in commit https://github.com/digitalutsc/islandora_web_annotations/commit/8ab6bd4dfbc7bc904e9d9003a12e9aaea3b2dd77.  Thank you @Natkeeran for spotting the issue and committing the fix..

[2017-02-21 19:40] #102 closed, assigned to nobody

[2017-02-21 19:52] MarcusBarnes commented on #101
Initial work in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/104 - waiting for review.

[2017-02-21 21:13] Natkeeran commented on #101
Works as expected.  Thanks Marcus.

[2017-02-21 21:13] #101 closed, assigned to MarcusBarnes

[2017-02-21 21:18] Natkeeran opened #105 "Improve delete hook (should we still delete the annotation even if the annotation container is not found for an annotation?)"
When a user deletes an annotation from Drupal, the islandora_web_annotations_islandora_object_alter gets fired.  It relies on AnnotationContainer having been properly indexed when it gets created, i.e RELS_EXT_isAnnotationContainerOf_uri_s field gets created.  (Note that this NOT indexing of annotation for search purposes and does not need any additional solr setup.)

During the hogarth testing, w

[2017-02-22 15:31] kstapelfeldt commented on #71
I am totally satisfied with the new scaling functionality and will close this for now. @kimpham54 let me know if you think opacity is required.

[2017-02-22 15:32] kstapelfeldt commented on #67
Addressed with the pull request that implemented number scaling.

[2017-02-22 15:32] #67 closed

[2017-02-22 15:34] kstapelfeldt commented on #18
This has been reviewed. Annotorious does not work for us at this point, and we could review it later if they do any additional development. We should review the progress later on, because @Natkeeran sees value in standardizing on a single library. Perhaps when we move to CLAW :)

[2017-02-22 15:34] #18 closed

[2017-02-22 15:38] kstapelfeldt commented on #59
We're going to look at addressing this in documentation and maybe talk more widely about integration with the rest of the Islandora at the conference/on lists.

[2017-02-22 15:39] kstapelfeldt commented on #53
This is ready for test @kimpham54 (and me)

[2017-02-22 16:16] kstapelfeldt opened #106 "HTML block changes and add back to codebase"
As per the unit meeting today:

Add HTML block back into the codebase as an option, providing formatting for the numbers and increased space between annotations (improve readability of HTML block). I have in my notes to assign this to Marcus, but feel free to change :) Let me know if you want me to review.

[2017-02-22 21:56] MarcusBarnes commented on #59
This has been documented in the [What is different about this module](https://github.com/digitalutsc/islandora_web_annotations#what-is-different-about-this-module) section of the project README.

[2017-02-22 21:56] #59 closed

[2017-02-23 17:43] MarcusBarnes commented on #69
Initial documentation on the web annotation permissions can be found in the wiki: https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Permissions.

[2017-02-23 17:51] MarcusBarnes commented on #69
We can add additional use-cases to the documentation.   Please create a new documentation issue should you desire a new use-case be added to the permission configuration wiki page.  Thank you.

[2017-02-23 17:51] #69 closed

[2017-02-23 18:00] kstapelfeldt opened #107 "Configuration option - load annotations by default"
Wondering how hard it would be to create a configuration option for annotations to appear loaded by default.

[2017-02-23 18:21] MarcusBarnes commented on #107
I've done some initial investigation.  Thanks to @Natkeeran's nice JS code I should be able to push a branch for testing soon.

[2017-02-23 18:30] kstapelfeldt commented on #107
Awesome!

[2017-02-23 19:05] kstapelfeldt opened #108 "Annotation in HTML block non-expected behaviour"
This occurred as Chad and I were testing simultaneous editing. I created an annotation that was numbered. Then I edited it and it changed as depicted in the attached screenshot
![screen shot 2017-02-23 at 2 04 11 pm](https://cloud.githubusercontent.com/assets/467898/23274548/221660ea-f9d1-11e6-85b6-540de3d838d6.png)

[2017-02-23 19:23] kstapelfeldt opened #109 "Simultaneous editing issue"
As two people seek to annotate the same object, we expect the following behaviour:

1. User one creates annotation and receives confirmation message
2. User two creates annotation and receives confirmation message
3. Either user would refresh the page and see the annotation created by the other.

Instead, Annotations created by the other user do not load, and on refresh, fail to load for the origi

[2017-02-23 19:37] Natkeeran opened #110 "After updating an annotation, the edit, delete buttons are hidden"
## Steps to reproduce
* As an authenticated use create an annotation
* Edit an annotation
The edit and delete buttons are hidden.  If I created it, the it show show.

## Technical Notes
* We are not updating the permissions information (creator) properly after an annotation gets updated.

[2017-02-23 20:22] MarcusBarnes commented on #107
Initial work on this is in branch https://github.com/digitalutsc/islandora_web_annotations/tree/issue-107 - works great for large image, but there are still some adjustments needed for basic image.

[2017-02-24 14:43] Natkeeran commented on #108
I think this was due to not properly updating the block item when it gets edited.  Should be addressed with this PR: https://github.com/digitalutsc/islandora_web_annotations/pull/111

[2017-02-24 15:05] MarcusBarnes commented on #110
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/112 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/bf54e06740c6710ba96072fe4a5daca9bb09deed).

[2017-02-24 15:05] #110 closed, assigned to nobody

[2017-02-24 15:06] MarcusBarnes commented on #106
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/111 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/4919b6251361486230797bfdcbdcced3aacabd98).

[2017-02-24 15:06] #106 closed, assigned to MarcusBarnes

[2017-02-24 15:07] MarcusBarnes commented on #108
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/111 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/4919b6251361486230797bfdcbdcced3aacabd98).

[2017-02-24 15:07] #108 closed, assigned to nobody

[2017-02-24 17:16] MarcusBarnes opened #113 "Basic Image: Load annotation button shifts when user is not admin"
For basic images, the annotation buttons are shifted down for an authenticated user as compared to when the user has an administrator role.   Some CSS adjustments may need to be made.  See the images below:

Basic Image - annotation buttons for an authenticated user (non-administrator):
![image](https://cloud.githubusercontent.com/assets/938274/23313170/9f3fc944-fa8a-11e6-9c46-8fcd295dd392.png)

B

[2017-02-26 23:04] kstapelfeldt commented on #71
<img width="568" alt="screen shot 2017-01-26 at 3 24 07 pm" src="https://cloud.githubusercontent.com/assets/467898/23344639/edf6f20a-fc4d-11e6-8861-758f68e63e65.png">
To discuss!

[2017-02-26 23:04] kstapelfeldt commented on #71
<img width="172" alt="screen shot 2017-02-26 at 6 02 09 pm" src="https://cloud.githubusercontent.com/assets/467898/23344643/0cc29b08-fc4e-11e6-88e5-0355437107ad.png">
To discuss - what should we do with overlapping numbers?

[2017-02-28 20:17] MarcusBarnes commented on #109
Initial work addressing this issue is added with commit https://github.com/digitalutsc/islandora_web_annotations/commit/076b57b97db1a024f8528ba319fd3dd4c3ce0085.

[2017-03-02 14:21] kstapelfeldt opened #119 "Authoring Annotations in Full Screen view for OpenSeaDragon"
I forgot to mention I think - Chad noticed that while you can read annotations in full screen view, you can’t author them. How difficult do you think it would be to enhance the annotator functions so that they work when the viewer is in full-screen mode?

[2017-03-02 21:35] MarcusBarnes commented on #119
As an alternative, one can check the "Constrain image to viewport" setting in the Islandora Viewer OpenSeadragon settings so that a large image cannot be viewed in full-screen mode.  However, full-screen mode would likely be useful when annotating extremely large high-resolution images with fine details such as maps, so this enhancement is worth exploring.

[2017-03-02 21:48] MarcusBarnes opened #121 "Hiding Clip Image tool for large image"
Some users have reported that they would like to be able to hide the Clip Image tool that appears when using the Open Seadragon viewer used with large image annotations.

![image](https://cloud.githubusercontent.com/assets/938274/23528332/7dd963a0-ff67-11e6-8786-505fda508f29.png)

This may best be addressed as an enhancement to  [Islandora OpenSeadragon](https://github.com/Islandora/islandora_open

[2017-03-03 16:49] MarcusBarnes commented on #121
Following up to my [previous comment](https://github.com/digitalutsc/islandora_web_annotations/issues/121#issue-211528405),  the clipper is actually created in the [large image solution pack](https://github.com/Islandora/islandora_solution_pack_large_image) code.  Islanodra OpenSeadragon only makes some adjustments to the clipper.

[2017-03-06 14:29] Natkeeran commented on #121
https://github.com/digitalutsc/islandora_web_annotations/pull/122 addresses this issue.

[2017-03-06 14:29] #121 closed, assigned to nobody

[2017-03-06 14:29] Natkeeran commented on #113
https://github.com/digitalutsc/islandora_web_annotations/pull/120 addresses this issue.

[2017-03-06 14:29] #113 closed, assigned to nobody

[2017-03-06 14:30] Natkeeran commented on #107
https://github.com/digitalutsc/islandora_web_annotations/pull/118 addresses this issue.

[2017-03-06 14:30] #107 closed, assigned to MarcusBarnes

[2017-03-06 15:53] Natkeeran opened #123 "Updating a video annotation right after creating it"
Creating, then reloading and uploading a video annotation works as expected.  However, if an annotation is created, and updated right after, it is failing.

[2017-03-06 20:33] Natkeeran opened #125 "Solr exception in some objects while trying to create annotations"
Some objects are throwing solr exceptions, though no AnnotationContainer has been created for them.  Don't have clear steps to reproduce this issue yet.

[2017-03-07 20:30] Natkeeran opened #127 "Improve error checking when CRUD operations for video fail cases"
Currently the error checking of CRUD operations is failing.  For example, it is returning successful, even if it fails!

[2017-03-07 21:29] MarcusBarnes commented on #123
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/128 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/96bdece084f113d9921220a25e4dc621dc414b62).

[2017-03-07 21:29] #123 closed, assigned to nobody

[2017-03-13 14:16] MarcusBarnes opened #130 "Default Open Video Annotation permissions checkboxes showing in video annotation pop-up"
The default Open Video Annotations permission checkboxes are showing in the annotation pop-ups when creating video annotations.  We are not using this feature (rather, using the Drupal permission layer).  These checkboxes should not be displayed.

![image](https://cloud.githubusercontent.com/assets/938274/23858038/a14eff04-07d5-11e7-9590-0e5988133b31.png)

[2017-03-14 14:35] Natkeeran commented on #130
This PR resolves that issue: https://github.com/digitalutsc/islandora_web_annotations/pull/131

[2017-03-14 14:35] #130 closed, assigned to MarcusBarnes

[2017-03-17 13:54] kstapelfeldt opened #132 "Provide warning when annotation is being deleted (are you sure)"
to discuss as possible enhancement:

"This annotation will be deleted. This action cannot be reversed. Are you sure?"

[2017-03-22 13:51] Natkeeran opened #133 "Richtext support for web annotation"
Video Annotation provides richtext, but not image annotations. W3C standards supports including richtext in annotations.  This ticket is to review the scope for including richtext for image annotations (annotorious).

[2017-03-23 16:28] Natkeeran opened #135 "Need to add scroll bar to video annotation view/edit box"
Currently, the video annotation view/edit box extends to the edge of the screen when the annotation is too long.  Add a scroll similar to image annotation.

[2017-03-23 16:29] Natkeeran opened #136 "Video annotation text should be normal"
When video annotation is moused over and viewed, the text is italic.  Make it normal.

[2017-03-28 14:37] Natkeeran commented on #135
https://github.com/digitalutsc/islandora_web_annotations/pull/137 addresses this issue.

[2017-03-28 14:38] Natkeeran commented on #136
@kstapelfeldt I don't see the video annotations to be italic by default.  Please provide the steps to reproduce this issue.

[2017-03-28 16:35] MarcusBarnes commented on #135
Merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/231a37ab666b565da6c7fd16ff95a83aa0065e40.

[2017-03-28 16:35] #135 closed, assigned to nobody

[2017-03-30 15:47] bencomp opened #138 "PHP Parse error in AnnotationController"
After installing this module in an Islandora 1.7 installation, including replacing OpenSeadragon, configuring the Large Image context and updating the Solr schema and GSearch indexing operations and restarting Tomcat, I get errors when loading annotations or trying to create annotations for a large image with PID `item:13`. In Apache's error log I see:

[code]

This happens when I request, e.g., `

[2017-03-31 13:54] MarcusBarnes commented on #109
The prior work in commit 076b57b appears to be functioning as expected - closing this issue.

[2017-03-31 13:54] #109 closed, assigned to nobody

[2017-03-31 13:55] MarcusBarnes commented on #138
@bencomp  We've updated Travis to check against PHP 5.3 to help catch this kind of syntax issue going forward.  Please pull the latest from the default branch.  We look forward to your feedback.  Thank you in advance.

[2017-03-31 13:55] #138 closed, assigned to nobody

[2017-03-31 14:03] MarcusBarnes commented on #125
This has been initially addressed in pull request  https://github.com/digitalutsc/islandora_web_annotations/pull/126 which has been merged.

[2017-03-31 14:03] #125 closed, assigned to nobody

[2017-03-31 16:13] kimpham54 commented on #132
when no verbose messaging is turned on

1. I create an annotation —> Save/Cancel
2. Annotation is created --> no message
3. I edit an annotation --> Save/Cancel
4. Annotation is edited --> no message
5. I delete an annotation —> “are you sure (yes/no)” - yes and annotation is deleted, no, and it is not deleted.
6. Annotation is deleted —> no message

when verbose messaging is activated

1. I creat

[2017-03-31 16:19] kstapelfeldt commented on #132
Shouldn't #5 for "no verbose messaging" match #5 for "verbose messaging"? ...suggested edit:

when no verbose messaging is turned on

I create an annotation —> Save/Cancel
Annotation is created --> no message
I edit an annotation --> Save/Cancel
Annotation is edited --> no message
I delete an annotation —>" This annotation will be deleted. This action cannot be reversed. Are you sure?” with “Delet

[2017-03-31 20:01] Natkeeran commented on #127
This PR addresses this issue: https://github.com/digitalutsc/islandora_web_annotations/pull/140

[2017-04-03 16:09] Natkeeran commented on #132
Warning before delete is trickier to implement for video than expected because the 1.2.x production annotator js library that we are using does not provide a beforeAnnotationDelete event.  There is an un addressed issue related to this request in their github.  2.x beta release does include this event.

Currently exploring if we can add a workaround for this.

[2017-04-03 20:33] MarcusBarnes commented on #127
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/140 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/1dc49188da8ed1e1443375cdf8b7a34ec1830057).

[2017-04-03 20:33] #127 closed, assigned to nobody

[2017-04-04 13:41] MarcusBarnes commented on #105
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/141 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/cd29b63569cf130007dd992d1ff5df985dc18688).

[2017-04-04 13:41] #105 closed, assigned to MarcusBarnes, Natkeeran

[2017-04-04 16:38] kstapelfeldt commented on #133
@kimpham54 is also going to append JSON being made by the web annotation module for video.js to confirm we're adhering to the data model there...

[2017-04-04 17:29] kimpham54 opened #143 "chrome browser: fuzzier selection to edit in text box"
this applies to video annotations

In firefox, when you click on "Add Annotation" then the dialog box appears to enter in text, you can click anywhere inside the white text area to begin adding/editing text.

in Chrome, web annotations is slightly more nitpicky about where to put your cursor before you can start editing/adding text to create an annotation. You need to put your cursor close to the

[2017-04-04 17:37] kimpham54 opened #144 "cannot create annotations with oral histories content model"
Description
Oral Histories content model objects will not allow annotations to get created

Steps to reproduce
Go into an oral history, play the video and create an annotation, try to save. Save button did not work.

Notes
This happens only in Chrome.
This was not happening with Video Content Model objects.

[2017-04-04 17:38] kimpham54 commented on #144
i am no longer experiencing this issue, not sure why.

[2017-04-04 18:16] kimpham54 commented on #144
I restarted my computer and VM and am now experiencing the issue again

[2017-04-04 18:24] kimpham54 opened #145 "Error with simultaneous add of annotations"
Description
Error occurs when two users try to simultaneously add annotations in Simple Image

Authenticateduser1 Authenticateduser2 Synchronous web annotation add simple image

Two users add an annotation at the same time (ideally, the first annotation on an object)

Expected Behaviour
Both Annotations are successfully created.

Actual behaviour: In the first instance, When Kirsta and I tried to

[2017-04-04 18:25] kimpham54 opened #146 "Change wording of confirmation messages"
1. Modify deletion confirmation message. Confirmation message for Basic Image should be edited. The message currently looks like this: "Successfully deleted the annotation: "The following annotation was deleted: annotation:31. Change to Success! "The following annotation was deleted: annotation:31".

<img width="943" alt="screen shot 2017-04-20 at 11 55 09" src="https://cloud.githubusercontent.com

[2017-04-04 18:34] kimpham54 commented on #146
Also for simultaneous editing of video annotations, change wording from "copy annotation text" to let users know that someone else is currently editing the annotation

[2017-04-04 21:40] kimpham54 commented on #79
https://github.com/digitalutsc/islandora_web_annotations/wiki/Metadata-Spec to update

[2017-04-05 14:35] kstapelfeldt commented on #145
We were not able to reproduce yesterday. @MarcusBarnes and @Natkeeran will try to reproduce

[2017-04-05 14:37] kstapelfeldt commented on #136
Kirsta cannot reproduce on the newest version that we are testing for release. Closing for now.

[2017-04-05 14:37] #136 closed, assigned to nobody

[2017-04-05 14:39] kstapelfeldt commented on #27
New Testing repo created for testing docs.

[2017-04-05 14:39] #27 closed

[2017-04-05 14:41] kstapelfeldt commented on #132
Basic and Large image to be implemented for this release - Video will remain on the roadmap for the future.

[2017-04-05 14:43] kstapelfeldt commented on #143
Looking at base library behaviour is something we may consider in future releases -

[2017-04-05 18:15] kstapelfeldt opened #147 "Please change hover text for "load annotation" button"
Should read "toggle annotation" to reflect the functionality provided by the button.

[2017-04-05 18:16] kstapelfeldt opened #148 "Sea Dragon buttons blocked by corner annotation"
In the case where an annotation blocks the upper-left corner of the image, the zooming buttons become unresponsive.

[2017-04-10 20:03] MarcusBarnes opened #150 "Update configuration to emphasis importance of the setting The isAnnotationContainerOf Solr field"
Update setup documentation to emphasize the importance of the setting "The isAnnotationContainerOf Solr field" properly and hints on how to determine the correct value for new installations.

[2017-04-11 15:50] kimpham54 commented on #144
@Natkeeran was https://github.com/digitalutsc/islandora_web_annotations/issues/149 only for oral histories? I tested the new version of web annotations with the merged PR, but I am still unable to add annotations for oral histories

[2017-04-11 15:54] kimpham54 commented on #144
just testing for slack

[2017-04-11 16:03] kimpham54 opened #151 "View-only permissions still allow create annotation actions (but does not write)"
Description
In the basic image content model, when a user is only allowed to view Annotations, the feather signpost that indicates to click and drag and the Click & Drag action is still enabled. A user is able to create an annotation, but it does not get saved (which is confusing).

Steps to Reproduce
1. In Permissions, only enable the View annotations, disable all other permissions in web annotat

[2017-04-11 18:18] kimpham54 commented on #144
issue addressed with #149

[2017-04-11 18:18] #144 closed, assigned to nobody

[2017-04-12 17:41] Natkeeran opened #152 "Video annotation editor position"
Currently the video annotation's editor is hiding the range selector.  It needs to be moved up so the user can select the range easily.

[2017-04-12 17:43] Natkeeran opened #153 "Updating newly created video annotation"
Currently if the user tries to edit an annotation immediately after creating it, she/he might get an error message because the reference id may not have been returned from the server.  One option is lock lock the annotation from editing until a message is returned from the server.

[2017-04-12 18:26] kimpham54 opened #155 "Make annotation_rangeTimeStart a sortable field in Islandora Solr"
to use in the web annotation view block

[2017-04-13 14:56] kimpham54 commented on #155
- need to update the wiki with new configs
- need to update view in codebase: look into Views API instead of Views PHP (not covered under drupal's security policy)

[2017-04-13 15:50] MarcusBarnes opened #157 "Enhancement Idea: Parent and Annotation Child Management Interface in Admin"
Recording here an idea for an enhancement.  Provide a page in the Web Annotation admin pages that for a given (parent) object PID, pulls related annotation container and annotation objects relationships and provides admin users with the ability to manage these object through this interface rather than having to log directly into Fedora commons to manage these objects.   This may help with debuggin

[2017-04-13 16:01] kimpham54 commented on #157
Coming out of the discussion of whether or not we should delete annotations when the parent object is deleted

[2017-04-13 16:06] MarcusBarnes commented on #157
Part of the management interface would be the ability to change the state of annotation related objects in Fedora without necessarily accessing the Fedora Admin directly.

[2017-04-13 16:24] MarcusBarnes commented on #152
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/154 (merged with commit efdbe00d3ac8048d895b1dc65e5f0e65acd01b20).

[2017-04-13 16:24] #152 closed, assigned to nobody

[2017-04-13 17:33] MarcusBarnes commented on #153
Initially addressed with pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/158 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/2967ecffccefae1c742272e3c56b2adf58594430).

[2017-04-13 17:33] #153 closed, assigned to nobody

[2017-04-17 14:34] MarcusBarnes commented on #151
Thank you @kimpham54 for spotting this.  I've been able to confirm the behavior.

[2017-04-18 14:58] Natkeeran opened #159 "Captions not displaying properly in OH when annotations is enabled"
Captions are not displaying as expected in OH when annotations is enabled for OH.

Developer Notes:
CSS/vjs-captions styling is not being properly applied.

[2017-04-18 15:17] kimpham54 opened #160 "use fedora PID (canonical uri) with web annotations"
Description
When Pathauto is enabled, Web Annotations is using the defined url pattern in pathauto to get retrieve and display annotations. The pathauto url alias is also written into the RELS-EXT of the annotationcontainer, as well as in the annotation under 'target' and 'context'.

Steps to Reproduce
Enable pathauto
Generate aliases for your islandora objects
Create web annotations through the a

[2017-04-18 15:19] kimpham54 opened #161 "permissions is not respected for audio, video and oral histories"
Description
CRUD permissions configured through admin/people/permissions are not being respected for audio, video and oral history content models. They are being respected for basic and large image content models.

Steps to reproduce
Turn off all permissions for Islandora Web Annotations, or only enable view web annotations

Expected Behaviour
You should not be able to create web annotations

Actu

[2017-04-18 15:31] kimpham54 commented on #155
done, updated in https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Indexing-annotations-in-Solr. must define annotation_rangeTimeStart and annotation_rangeTimeStart_sort separately

[2017-04-18 15:31] #155 closed, assigned to kimpham54

[2017-04-18 15:32] kimpham54 opened #162 "Render html for annotations in Solr View Block"
need to update view in codebase: look into Views API instead of Views PHP (not covered under drupal's security policy, need to deprecate use)

[2017-04-18 16:06] kimpham54 opened #163 "verbose alert messages not displaying"
When verbose alert messages is enabled in admin/islandora/tools/web_annotations, it is showing for Basic Image, Large Image, Page but it is not showing for Video, Audio, Oral History content models.

[2017-04-18 17:19] Natkeeran commented on #161
This PR partially addresses this issue: https://github.com/digitalutsc/islandora_web_annotations/commit/ecbf12268483684cf06a15749cb9bffdd5143b77

Still need to review if we need to check for user permissions in the controller.  Else, scripts may be able to post to those endpoints.

[2017-04-18 18:58] kimpham54 commented on #163
had to enable blockUI.js in the context. alls good

[2017-04-18 18:58] #163 closed, assigned to nobody

[2017-04-18 20:02] kimpham54 opened #164 "simultaneous createAnnotation triggers a conflict but also creates both annotations"
When two users are creating annotations at the same time and saves their annotation, both annotations get created but one of them gets an error message and their annotation does not get added to the annotationcontainer.

Steps to reproduce
Set up your environment to allow two users to create annotations.
Both users go to a large image object to add an annotation to.
Both users need to create annot

[2017-04-18 20:28] kimpham54 commented on #161
@Natkeeran https://github.com/digitalutsc/islandora_web_annotations/commit/ecbf12268483684cf06a15749cb9bffdd5143b77 was tested on video and works for all permission settings

[2017-04-18 20:40] kimpham54 opened #165 "simultaneous editing does not provide a conflict notice"
When two users try to edit the same annotation in a large image object, the user whose edits could be saved does not receive an error message.

Steps to Reproduce
Assign two users to edit the same annotation in a large image object.
Have two users add edits, then synchronize the saving of an annotation at the same time.

Expected behaviour
For one user, the edits will be saved successfully. For th

[2017-04-19 16:09] MarcusBarnes commented on #161
Initially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/166 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/f78ac04e815f7cbc65561a06b94ea3a8d05cae99).

[2017-04-19 16:09] #161 closed, assigned to nobody

[2017-04-19 16:15] MarcusBarnes commented on #159
Partially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/167 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/079c174587cea7a11f8e2f8f937daf62ed9eca61).

[2017-04-19 16:26] MarcusBarnes commented on #159
I'd like to suggest that we close this issue and create new (but related issues) for further adjusting how the captions are displayed when using web annotations on OH objects.

[2017-04-19 18:39] MarcusBarnes commented on #147
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/168 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/8d84716874620434fd2435b91a77e42ff7a6becb).

[2017-04-19 18:39] #147 closed, assigned to nobody

[2017-04-19 19:37] MarcusBarnes commented on #151
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/169 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/3bf0a97fb50b3d0df6eddfb0c0e656a022bd7080).

[2017-04-19 19:37] #151 closed, assigned to MarcusBarnes

[2017-04-20 14:36] MarcusBarnes commented on #165
We are currently not able to reproduce.  We are getting the expected behavior.  We'll close the issue for now.  If anyone encounters this again, please provide as many relevant details as possible and we'll reopen the issue and investigate further.  Thank you.

[2017-04-20 15:36] MarcusBarnes commented on #164
We are currently not able to reproduce.  We are getting the expected behavior.  We'll close the issue for now.  If anyone encounters this again, please provide as many relevant details as possible and we'll reopen the issue and investigate further.  Thank you.

[2017-04-20 15:36] #164 closed, assigned to nobody

[2017-04-20 15:38] kimpham54 commented on #165
this is confirmed in Basic Image as well

[2017-04-20 15:40] kimpham54 opened #170 "locking mechanism for concurrent editing of annotations"
when concurrent users are trying to edit the same annotation, allow only one user to modify the annotation and prevent other users from editing the annotation

[2017-04-20 17:08] kstapelfeldt opened #171 "Islandora Solr View Block"
Challenge: A user enabling web annotations for both image and video content must disable the default annotation block (which works only for images) in order to have an annotation list for video content, or else two blocks will show on image pages.

Approach: @kimpham54 and I determined that the best way to resolve this issue is by authoring an additional context that provides a solr view block onl

[2017-04-20 17:12] kstapelfeldt commented on #171
@kimpham54 - how about we provide two block views with the module 1. is designed specifically for video (table view that can render html and includes start and end time and sorted by start time - dependent upon issue #162 ) and 2. is an alternative for images (ordered html view with annotations sorted by created date). We then alter the documentation to describe the packaged views and include cont

[2017-04-20 17:45] kimpham54 commented on #171
@kstapelfeldt sounds good. we will also need to update the wiki documentation afterwards with the context export

[2017-04-20 17:46] kimpham54 commented on #145
closing this ticket because we did not reproduce this issue in our testing today

[2017-04-20 17:46] #145 closed, assigned to MarcusBarnes, Natkeeran

[2017-04-20 20:18] MarcusBarnes commented on #165
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/172 (merged with https://github.com/digitalutsc/islandora_web_annotations/commit/8a1f91198a3d8ec8ca27cdb2a7ca507363cc92f1).

[2017-04-20 20:18] #165 closed, assigned to nobody

[2017-04-21 13:34] MarcusBarnes commented on #170
Noting https://github.com/discoverygarden/islandora_object_lock for reference.

[2017-04-21 13:35] kimpham54 commented on #170
you might also want to look at https://jira.duraspace.org/browse/ISLANDORA-1556

[2017-04-24 17:49] kimpham54 opened #174 "disable rubric in video web annotation library"
We do not have a use for the rubric feature included in the video web annotation library.
Disable in https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/lib/js/richText-annotator.min.js

[2017-04-24 20:06] kimpham54 opened #175 "review & cleanup WADM/Json-LD"
Came out of the discussion of what gets recorded when users create and update annotations. What and should get stored in 'author', 'creator', 'user', 'creator' (2nd one), 'modifiedBy'

[2017-04-24 20:32] MarcusBarnes commented on #160
We've been able to reproduce.  A solution is in process.  Thank you.

[2017-04-25 14:32] kstapelfeldt opened #176 "Crowding in areas of the WYSIWYG editor"
For annotations in video.js, the insert/edit video, edit image, and insert link options all show evidence of crowding that negatively affects the labels. The biggest usability issue this presents is in the dimension boxes.
![screen shot 2017-04-25 at 10 24 25 am](https://cloud.githubusercontent.com/assets/467898/25390766/7472c832-29a2-11e7-9bbd-d4f06e133405.png)
![screen shot 2017-04-25 at 10 24 1

[2017-04-25 15:15] Natkeeran commented on #175
We have the entire annotation info from the js into the body section.  It allowed us to do rapid development.  However, this breaks validation to W3C standards.  We would have to move target related info into the target property.

Also, we have used "modifiedBy" and "pid" which are not in the context: http://www.w3.org/ns/anno.jsonld.  Thus, either we would have to adopt properties that can be sub

[2017-04-25 16:42] kimpham54 opened #177 "multiple edits annotation in video.js objects causes jsonld error"
**Description**
In video.js objects, editing an annotation >1 time causes errors in the WADM datastream.

**Steps to Reproduce**
Add an annotation to a video/audio/oral history.
Edit the annotation and save.
Edit the annotation again.

**Actual Behaviour**
If you have verbose messaging turned on, you should see at the end a weird jsonld response. Look at your WADM datastream and you should have a

[2017-04-27 20:05] kimpham54 opened #179 "can we leverage xacml permissions to control solr searching by user"
if we want to control which users can search for annotations, we will probably want to use XACML.  XACML can only be controlled on a collection or object basis.

How should this be implemented with annotations? A user should not have to apply xacml to annotations by object, but annotations do not belong in a collection so they cannot be applied that way.

Note: Book also allows for xacml to be app

[2017-04-27 20:23] kimpham54 commented on #171
- [x] default multiple views when module is installed
- [x]  use islandora context to hide/show certain views by content model. add to documentation
- [x]  create a view for images - value, user
- [x]  add user to view block for video
- [x] render html in audio/oral history/video view

[2017-05-02 18:54] MarcusBarnes commented on #177
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/180 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/e8a09401cfbb5e77bf53e9650e5f76dda1c56abf).

[2017-05-02 18:54] #177 closed, assigned to nobody

[2017-05-02 20:55] MarcusBarnes commented on #174
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/182 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/569bc4c65a7744bf621219c17da97809189876b5).

[2017-05-02 20:55] #174 closed, assigned to nobody

[2017-05-03 13:14] kimpham54 commented on #146
@kimpham54 ready for review

[2017-05-03 13:51] kstapelfeldt commented on #179
One approach discussed was to apply a collection for annotations (like a standard collection) so annotation containers and objects go in that collection and then modify a policy associated with a collection. The main issue is that we didn't begin this as a solution pack, so it may be less straightforward to implement a collection on a utility module (requires exploration).

[2017-05-03 13:53] kstapelfeldt commented on #179
From @kimpham54 - i know that it’ll get us to work with xacml sooner, but it’s still a workaround since that’s not the original purpose of collection. if we can do something akin to how book can use xacml on AnnotationContainer - take all rels-ext relations under container and apply xacml to its children, that would be a logical way to restrict permissions

[2017-05-03 13:54] kstapelfeldt commented on #179
Before deciding whether or not this is a blocker, it will require investigation by @MarcusBarnes and @Natkeeran

[2017-05-03 13:55] MarcusBarnes commented on #103
Possibly related to https://github.com/digitalutsc/islandora_web_annotations/issues/179.

[2017-05-03 13:58] kstapelfeldt commented on #176
Local vm rc 2 Chrome. Nobody can reproduce.

[2017-05-03 13:58] #176 closed, assigned to nobody

[2017-05-03 14:09] kstapelfeldt commented on #175
This is large in scope, but could potentially break backwards compatibility after the module is being used as well as make it difficult to migrate later on. Maybe 8 days development? Not insignificant.

[2017-05-03 14:14] kstapelfeldt commented on #170
We have a conflict resolution mechanism. If two people are editing at the same time, and one person saves it, we send a notice to the second person indicating that the changes cannot be saved. Not a blocker for release. Putting a note in the documentation so that users know what to expect when multiple people may be editing the same annotation is a good idea.

[2017-05-03 14:15] #162 closed, assigned to kimpham54

[2017-05-03 14:18] kstapelfeldt commented on #159
@Natkeeran has a fix for the appearance but not the positioning.

[2017-05-03 14:18] kstapelfeldt commented on #159
Closing and creating a new ticket for position of captions.

[2017-05-03 14:18] #159 closed, assigned to nobody

[2017-05-03 14:19] kstapelfeldt opened #183 "Display captions at the bottom rather than the top of the screen"
Typically, captions are expected to appear at the bottom rather than the top of the video.

[2017-05-03 14:19] kstapelfeldt commented on #157
For a future release, possibly to help us manage annotation life cycle.

[2017-05-03 14:22] kstapelfeldt commented on #150
@MarcusBarnes will add some documentation and reassign to @kimpham54 or me for testing to review.

[2017-05-03 14:24] kstapelfeldt commented on #148
not determined to be a blocker for release, but should be documented as a known issue.

[2017-05-03 14:26] kstapelfeldt commented on #143
Still not considered a blocker. Need to click in upper left-hand corner to activate edit. Only an issue in chrome. Recommend we do put out in release as 'known'

[2017-05-03 14:27] kstapelfeldt commented on #119
not this release. On feature roadmap.

[2017-05-03 14:33] kstapelfeldt opened #184 "Explore possibility of bundling required video.js version"
Explore possibility of bundling required OpenSeaDragon and video.js version with custom files  (explore licensing and technical workflow). This may make it easier to install and maintain?

[2017-05-03 14:35] kstapelfeldt commented on #79
duplicates #175

[2017-05-03 14:35] #79 closed, assigned to kimpham54

[2017-05-03 14:36] kstapelfeldt commented on #71
Closing and opening new issue for overlapping numbers

[2017-05-03 14:36] #71 closed

[2017-05-03 14:37] kstapelfeldt opened #185 "Overlapping blue numbers"
As per screenshot.
<img width="172" alt="0cc29b08-fc4e-11e6-88e5-0355437107ad" src="https://cloud.githubusercontent.com/assets/467898/25665730/75d60f68-2fec-11e7-8cd6-d9d439114b61.png">

[2017-05-03 14:37] kstapelfeldt commented on #53
Behaviour has been good for users, so closing.

[2017-05-03 14:37] #53 closed

[2017-05-03 14:39] kstapelfeldt commented on #44
in the end, may not want to use the plus button, as I'm always pressing the plus button to zoom in. So better to standardize on the feather than the plus sign. Either way, not a release blocker.

[2017-05-03 14:39] kstapelfeldt commented on #25
Still working on this.

[2017-05-03 14:43] kimpham54 commented on #44
for issues related to the default annotation library ui, like the plus button, it might be better to bring it up to the original open source project and see if they have any interest so that we can contribute the fix upstream, otherwise it will be something that we will need to maintain and upgrade ourselves in future updates to the library

[2017-05-03 15:50] MarcusBarnes commented on #184
[Islandora Web Annotations is licensed](https://github.com/digitalutsc/islandora_web_annotations#license) under GNU General Public License, version 3 or later.   [Video.js is licensed](https://github.com/videojs/video.js#license) under Apache License, Version 2.0.  According to these sources
* https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses
* https://www.apache.org/licenses/GP

[2017-05-03 18:43] MarcusBarnes commented on #150
Some initial documentation -  https://github.com/digitalutsc/islandora_web_annotations/wiki/Configuration:-Setting-the-required-isAnnotationContainerOf-Solr-field-value, which is also linked to from the wiki table of contents.

[2017-05-03 18:46] MarcusBarnes commented on #150
Maybe a part of this should be some troubleshooting documentation that includes tips on what to investigate when seeing certain types of issues based on our own and other's usage of the module?  Starting with one page would be a start and we could separate it into other pages within the wiki as appropriate.  Thoughts?

[2017-05-03 19:17] kstapelfeldt opened #186 "Client Feedback: Search and Discovery"
As a user I would like to be able to discover annotation content and play related audio or video clips by clicking on the search result, so that I don't have to go through the annotation list to determine which one was relevant to my initial search.

Example: NYTime online database keyword search brings back newspaper articles with snippets. Clicking on the result opens the clipping with keywords

[2017-05-03 19:19] kstapelfeldt opened #187 "Client Feedback: Annotation tagging"
Video Annotation Feedback:

As a user, I would like the ability to tag annotations to categorize them by type or topic, so that I can more easily analyze the resulting annotation body (using more than plain text analysis).

Note: Using Islandora's Taxonomy, as we do with Islandora Forms, would be a highly desirable method for allowing users to author and manage term. See also: Integration between

[2017-05-03 19:25] kstapelfeldt opened #188 "Client Feedback: Oral History and Web Annotation Integration"
As a user, I would like to see annotation information appear in the same area as transcript information, because I find this less confusing. I would also like for the annotation tab to appear before (in front of) the transcription tab.

Note: configuring the ordering of tabs would be useful as not all users will have this use case.

[2017-05-03 19:29] kstapelfeldt commented on #186
Next step: UI sketch

[2017-05-03 19:29] kstapelfeldt commented on #188
Next step: UI sketch

[2017-05-03 19:29] kstapelfeldt commented on #187
Next step: UI sketch

[2017-05-08 17:34] MarcusBarnes commented on #160
Initially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/189 - awaiting further testing and review before it is merged.

[2017-05-09 14:26] MarcusBarnes commented on #160
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/189 (merged with commit e1b449182cd46cab7e1aef9ea077315750d03fda).

[2017-05-09 14:26] #160 closed, assigned to MarcusBarnes

[2017-05-09 14:44] MarcusBarnes opened #191 "The datetime MUST be a xsd:dateTime with the UTC timezone expressed as "Z""
In the Lifecycle Information section of the [Web Annnotation Data Model](https://www.w3.org/TR/annotation-model/#lifecycle-information),  it notes that the 'datetime MUST be a xsd:dateTime with the UTC timezone expressed as "Z"' for `created` and `modified` properties.  Currently, we are using the `yyyy-mm-dd hh:mm:ss` format.

Related to issue https://github.com/digitalutsc/islandora_web_annotati

[2017-05-09 14:53] kimpham54 commented on #179
issue has been resolved. all annotations are placed in an annotations collection under islandora:root, to which you can apply xacml policies on

[2017-05-09 14:53] #179 closed, assigned to MarcusBarnes, Natkeeran

[2017-05-09 15:08] kimpham54 commented on #146
Issue has been resolved - Wording has been changed

[2017-05-09 15:08] #146 closed, assigned to nobody

[2017-05-09 15:50] kimpham54 opened #192 "Deleted annotations remain in WADMContainer List"
**Description**
Annotations are not consistently removed from AnnotationContainer WADMContainer JSON-LD

**Steps to Reproduce**
Create multiple annotations
Delete each and every annotation one by one, check AnnotationContainer WADMContainer datastream to confirm that annotations are being removed from paged list

**Expected Behaviour**
Annotations are removed from WADMContainer when they are delet

[2017-05-09 20:32] kimpham54 commented on #192
Issue could not be reproduced when tested with newly ingested large images. Alls good.

[2017-05-09 20:32] #192 closed, assigned to nobody

[2017-05-10 16:53] kimpham54 commented on #175
- [ ] remove body/context
- [ ] change 'pid' to canonical
- [ ] selector info, including shapes, move to target. use 'FragmentSelector'

[2017-05-11 19:41] MarcusBarnes opened #194 "Create initial CONTRIBUTING.md file"
Create initial CONTRIBUTING.md file and update README.md to point to information on contributing.

We will probably want to use the similar file as that in the following pull-request for the Islandora Oral Histories Solution Pack  https://github.com/digitalutsc/islandora_solution_pack_oralhistories/pull/56, provided it passes review.

[2017-05-25 13:50] MarcusBarnes commented on #191
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/195 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/1e6920b59b7f7aa06aaa0c2874de1db860f1e6e8).

[2017-05-25 13:50] #191 closed, assigned to MarcusBarnes

[2017-05-25 16:42] kimpham54 opened #197 "WADM JSON-LD: what goes into //target/format?"
According to https://www.w3.org/TR/annotation-model/#external-web-resources under note, the //target/format property **should** indicate media types, such as from this list http://www.iana.org/assignments/media-types/media-types.xhtml#audio - right now it’s just “image” or “video”. Since we were annotating the presentation derivatives based on known viewers, we could declare the format based on th

[2017-05-25 19:25] MarcusBarnes commented on #194
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/196 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/74906b2e20302f381ac19be5858c380154484d07).

[2017-05-25 19:25] #194 closed, assigned to MarcusBarnes

[2017-05-26 18:53] MarcusBarnes commented on #132
@kimpham54 Please review.  You'll need to update your contexts (see the wiki).

[2017-05-29 13:45] kstapelfeldt commented on #188
![oral-history-annotation-tab-user](https://cloud.githubusercontent.com/assets/467898/26552062/8678adb4-4453-11e7-9063-7095cd45ab35.png)

[2017-05-29 13:52] MarcusBarnes commented on #188
Would we want to have the ability to toggle the annotation column like the speaker names?  Also, how would we want to deal with annotations that don't have start and end times within a given cue?  Thank you @kstapelfeldt .

[2017-05-29 13:57] kstapelfeldt commented on #188
I don't think we have a use case for toggling the annotation column. Ideally, annotations do not rely on existing cues and annotation time cues are taken from the time code of the actual annotation object.

[2017-05-29 13:59] kstapelfeldt commented on #188
When a user clicks a play button, the annotation would be highlighted the same way cues are highlighted. A user with appropriate permissions would edit the annotation using the existing affordance in the Web Annotation Solution Pack. Annotation content could appear or not above as is easiest to implement. If the decision should be made right away about whether or not content in the annotation appe

[2017-05-29 14:02] kstapelfeldt commented on #188
**Question of Overlapping Annotations:** I think a user would expect that the Annotations would appear listed by start time, and in the case of identical start times, could adopt some arbitrary or consistent order such as date annotation was created.

**Question of Highlighting annotations during video play:** One question is how one would ideally experience highlighting for playing annotations in

[2017-05-29 14:21] kstapelfeldt commented on #187
1. Type an @symbol and begin typing a tag, an autcomplete brings back options (Facebook or Github type feature)
![tagging-in-interface](https://cloud.githubusercontent.com/assets/467898/26553173/8131b4e0-4458-11e7-837c-affa7f069833.png) In Twitter, this is similar to what happens when you enter a pound sign, and that would also be fine. However, note that this is different from option 3.

2. Selec

[2017-05-29 14:55] kstapelfeldt commented on #186
User searches for keyword and brings back list of results in Solr. The are able to facet by content model (annotation) and return a list of just annotations.
![screen shot 2017-05-29 at 10 54 47 am](https://cloud.githubusercontent.com/assets/467898/26554280/4d1b95e0-445d-11e7-8945-d12529a27db0.png)

Sorry the image doesn't match up (I don't have this configured on my local) but we wound be looking

[2017-05-29 15:06] kstapelfeldt opened #199 "Client Feedback: Navigation block and annotation behaviour"
As a user I wish to read a list of annotations and if one interests me, click on a hyperlink in the list and automatically open the annotation on the object I'm viewing, in order to simplify the process of navigating to a particular annotation. Currently, I would need to find the number or start time in the interface to view a given annotation.

![navigation-block-and-player](https://cloud.githubu

[2017-06-02 17:48] Natkeeran commented on #187
@kstapelfeldt
Are tags to be used to reference a particular annotation (i.e like tags for a blog post) or to enhance the content of an annotation (i.e controlled vocabulary)?

[2017-06-02 20:08] kimpham54 opened #200 "use .json instead of .bin when downloading WADM datastreams"
Description
Datastream downloads through the Drupal interface adds a .bin extension instead of the appropriate extension

Steps to Reproduce
Go to an annotation
Manage > Datastreams
Download WADMContainer datastream

Go to an annotation container
Manage > Datastreams
Download WADMContainer datastream

Expected Behaviour
Download a file with a .json extension

Actual Behaviour
Download a file with

[2017-06-06 19:26] kimpham54 opened #201 "Interaction with Solr when searching for annotation_value"
Needs further investigation:
When you do a search for annotation_value, you get back the annotations. The annotations store the PID about annotation_parent. Is it possible to link to the PID to take you to the parent from the annotation in the search results? Next step would also involve this ticket: https://github.com/digitalutsc/islandora_web_annotations/issues/186

Or, is it better if we do a s

[2017-06-07 17:49] MarcusBarnes commented on #175
Initially addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/198 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/60d0ed672e4d1dfb2ce4553b7accce277d7c61a5).  For other tweaks, please create specific issues to document the desired adjustments.

[2017-06-07 17:49] #175 closed, assigned to MarcusBarnes, Natkeeran

[2017-06-08 18:39] kimpham54 opened #202 "Delete annotation warning message for video, audio, oral history"
Depends on https://github.com/digitalutsc/islandora_web_annotations/issues/132#issuecomment-291190921

when no verbose messaging is turned on

I create an annotation —> Save/Cancel
Annotation is created --> no message
I edit an annotation --> Save/Cancel
Annotation is edited --> no message
I delete an annotation —>" This annotation will be deleted. This action cannot be reversed. Are you sure?” wi

[2017-06-08 18:42] kimpham54 commented on #132
issue resolved with https://github.com/digitalutsc/islandora_web_annotations/pull/193

[2017-06-08 18:42] #132 closed, assigned to kimpham54

[2017-06-08 18:52] kimpham54 commented on #133
sample richtext video annotation

[code]

[2017-06-08 19:00] kimpham54 commented on #170
documented here: https://github.com/digitalutsc/islandora_web_annotations/wiki/Edge-Case-Behaviour

[2017-06-08 19:00] #170 closed, assigned to kimpham54

[2017-06-12 15:34] #150 closed, assigned to MarcusBarnes

[2017-06-12 16:26] Natkeeran commented on #199
We can implement something similar to the play segment feature in the Oral History module.  When the user clicks a button play, we can play starting from that time element.
[code]

More info here: https://gingertech.net/2009/08/19/jumping-to-time-offsets-in-videos/

[2017-06-12 17:30] MarcusBarnes commented on #200
As the WADMContainer datastream is JSON-LD, to be more conformant the .jsonld extension is best.  See: https://stackoverflow.com/a/41453240/850828.

[2017-06-12 17:36] kimpham54 commented on #200
that's fine

[2017-06-12 17:36] Natkeeran commented on #188
This ticket is related to : https://github.com/digitalutsc/islandora_web_annotations/issues/199

To add annotation view block to into the annotation tab: https://github.com/digitalutsc/islandora_solution_pack_oralhistories/tree/annotations_in_a_tab

[2017-06-12 18:09] MarcusBarnes commented on #200
I note that JSON-LD is not in https://github.com/Islandora/islandora/blob/7.x/includes/mimetype.utils.inc#L97-L271.  In order to address this issue, we may have to suggest that JSON-LD be added to `islandora_mime_mapping` and push to Islandora core following steps for contributing (JIRA ticket, etc.).  I'll test this modification locally and report back.

[2017-06-12 18:20] Natkeeran commented on #187
The tagging UI here is http://projectmirador.org/demo/ is a good reference for us as well.

[2017-06-12 19:48] MarcusBarnes commented on #200
I've confirmed locally that adding ``"jsonld" => "application/ld+json",`` to the array returned by `islandora_mime_mapping` function does the trick:  The WADMContainer datastream is downloaded with the .jsonld file extension rather than .bin.  I'll suggest this modification to the main Islanodora project and update this ticket based on how that goes.

[2017-06-13 14:15] kimpham54 opened #203 "Explore multiple languages in webvtt"
https://w3c.github.io/webvtt/#cue-text
https://w3c.github.io/webvtt/#css-extensions-introduction -> look at the Type selector example

so you could do something like

[code]

From @Natkeeran: One VTT can contain cues for different languages and different tracks will specify the language selection

The applicable language for the list of WebVTT Node Objects can be set by the srclang attribute in HT

[2017-06-13 14:17] kimpham54 commented on #203
wrong project

[2017-06-13 14:17] #203 closed, assigned to nobody

[2017-06-13 17:16] kimpham54 opened #204 "Modifiedby field in jsonld"
A modifiedby/modified author field does not exist in the w3c web annotation spec. How should we record edits to the annotation?

Currently we can view the modified author by looking at the versions of the datastream.

[2017-06-13 17:59] kstapelfeldt commented on #204
we need to explore installing PREMIS so that this data may be more available in the interface to people who need to track edits to annotations. We're not going to try extending the specification or anything like that for this particular issue. Kim to export foxml from the admin client and review and ensure that edits are being tracked in the audit trail.

[2017-06-13 18:00] kstapelfeldt commented on #202
right now, no easy way to implement, but it's staying in our wishlist.

[2017-06-13 18:05] kstapelfeldt commented on #201
We need to wireframe what would be ideal behaviour (to acceptable behaviour) and then scope.

[2017-06-13 18:06] kstapelfeldt commented on #199
related to #186

[2017-06-13 18:09] kstapelfeldt commented on #187
metadata on the object.

[2017-06-13 18:17] kstapelfeldt commented on #44
Changing to feather icon rather than plus button for large and simple image annotation creation.

[2017-06-15 20:00] kimpham54 commented on #204
the fedora object xml keeps an audit record and points to the location of the version. the versioned content is not however contained in the foxml

[code]

location in datastreams directory

[code]

[2017-06-16 23:13] MarcusBarnes commented on #200
Pull-request https://github.com/Islandora/islandora/pull/682 has been merged.  To fully resolve this issue will require updating one's Islandora module to https://github.com/Islandora/islandora/commit/0e80b2ba177145f181047aeb78ddd05f45545f72.

[2017-06-16 23:13] #200 closed, assigned to nobody

[2017-06-20 13:34] MarcusBarnes commented on #171
Address in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/214 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/edf0c0fde2b29659774f8736a3be49bf821ab97e).  It would be good to include some additional documentation on how to adjust where the view blocks appear, how to hide them for basic and large image for using the default annotation l

[2017-06-20 13:34] #171 closed, assigned to kimpham54

[2017-06-20 13:58] kimpham54 commented on #171
Documentation updated here: https://github.com/digitalutsc/islandora_web_annotations/wiki/Using-the-Islandora-Solr-View-Blocks

[2017-06-20 14:13] kstapelfeldt commented on #25
A broad task that we're closing in favour of more specific task tickets to be made and associated with the next release milestone.

[2017-06-20 14:13] #25 closed

[2017-06-20 16:33] kimpham54 commented on #204
closing. If we ever need editor information, it is available in the foxml.

[2017-06-20 16:33] #204 closed, assigned to kimpham54

[2017-07-13 15:26] kimpham54 opened #216 "tag rendering in webvtt"
Came out of the original interest to render tags from WebVTT files. Consider filter_xss() or other approach.

From @ulsdevteam and @bgilling:

In the “uls_install” branch of our code for islandora_solution_pack_oralhistories the transcripts_ui code has been removed as a submodule and treated like a regular drupal module (but kept as a dependency).

The function that I wrote to rewrite the <c> tags

[2017-07-28 13:10] kimpham54 opened #217 "Can't replace WADM datastream"
Islandora complains that it's not XML (it's JSON)

[2017-07-28 14:12] kimpham54 opened #218 "Regenerating derivatives in /manage/properties"
Cannot do this with annotation content models, works for other Islandora content models

[2017-07-28 14:59] Natkeeran commented on #217
We need to update the https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/xml/webannotation_ds_composite_model.xml to specify that WADM should be application/json as below:

[code]

[2017-07-28 16:28] Natkeeran commented on #217
Have to update the WADMContainer DS-COMPOSITE-MODEL.xml as well.

[2017-08-01 12:51] Natkeeran opened #219 "What should happen to annotations when the object gets deleted"
Currently, when the target object is deleted, the annotations are not deleted.  We need to either document this behavior or provide a configuration option to delete all annotations and annotation container when the object gets deleted.

Related Issue:
https://github.com/digitalutsc/islandora_web_annotations/issues/157

[2017-08-02 13:27] kstapelfeldt commented on #219
At minimum this should be covered in relevant documentation for the release. I'm not sure that it is.

[2017-08-02 15:47] kstapelfeldt opened #220 "Force selection of annotation namespace"
Force selection of annotation namespace

[2017-08-04 13:29] kimpham54 opened #221 "Delete AnnotationContainer does not delete Annotations"
Description
When I go into the AnnotationContainer object through Drupal/ Islandora and permanently remove the object, the Annotations that are part of the container are not deleted. The annotations no longer display in the original object, but are still available in the Solr View.

Steps to Reproduce
Go into an annotationcontainer, go to manage, properties, permanently remove object

Expected Beh

[2017-08-04 13:33] kimpham54 opened #222 "Deletion behaviour of annotations"
This needs to be documented:

- [x] What happens when annotations are deleted (expected behaviour)

- [x] What happens when annotationcontainers are deleted

- [x] How to delete annotations in bulk (purpose of annotations collection)

- [x] What happens when the object that contains annotations are deleted (annotations + annotationcontainer remains)

[2017-08-29 14:37] kimpham54 opened #224 "Render HTML Field for Solr Views does not display annotation"
Works in VM, does not work in Prod environment. Data does not get passed into the render html field set by the handler

[2017-09-05 20:51] MarcusBarnes commented on #220
Initial work on this issue can be found in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/225.

[2017-09-06 13:31] kimpham54 commented on #222
https://github.com/digitalutsc/islandora_web_annotations/wiki/Annotation-CRUD-Behaviour

[2017-09-06 13:31] #222 closed, assigned to nobody

[2017-09-11 17:27] MarcusBarnes opened #226 "Travis build failing for PHP 5.3.3"
Pull request https://github.com/digitalutsc/islandora_web_annotations/pull/225 failed the Travis CI build.  Upon investigation this looks like the cause is a similar issue which was addressed here https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/107 due to changes in default builds used by Travis.

[2017-09-11 19:11] MarcusBarnes commented on #226
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/227 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/461a690d62207c2aaa275e5bea84da17c3bef7f2.)

[2017-09-11 19:11] #226 closed, assigned to MarcusBarnes

[2017-09-13 15:27] kimpham54 commented on #224
to test in 7.x-10

[2017-09-13 15:28] kstapelfeldt commented on #219
Related to #221

[2017-09-13 15:29] kimpham54 commented on #219
@kstapelfeldt update documentation https://github.com/digitalutsc/islandora_web_annotations/wiki/Annotation-CRUD-Behaviour

[2017-09-13 15:34] kimpham54 opened #229 "Put AnnotationContainers into annotation collection"
add collection membership to islandora:annotations_collection in rels ext in annotationcontainers so that they will be exposed in the annotation collection. This is for users to easily delete annotationcontainers

[2017-09-13 15:35] kstapelfeldt commented on #219
When Objects are deleted the Annotation Container retains a relationship with the default annotation collection. In this way the annotations can be accessed after an object is deleted. In a new issue we will confirm that annotation containers are also visible in the default annotation collection (Issue #229) - Kirsta to ensure this is captured in the documentation.

[2017-09-13 15:36] kstapelfeldt commented on #218
XML may need to be regenerated. Needs to be scoped and reviewed.

[2017-09-13 15:36] kstapelfeldt commented on #217
For @Natkeeran to review

[2017-09-13 15:37] kimpham54 commented on #217
@Natkeeran  to test

[2017-09-13 15:39] kstapelfeldt commented on #202
Audio and Video delete behaviour is still not as described above, but this is a low priority and non insubstantial amount of work. Backburner task for now.

[2017-09-13 15:41] kstapelfeldt commented on #201
This is indexing behaviour. A substantial piece of work. Evaluate the scope and methods by which this could be done. May not be possible to add to this release.

[2017-09-13 15:44] kstapelfeldt commented on #197
This is definitely a priority, but as the work is less reusable and we are anticipating a CLAW version, we will try to get this right in the CLAW version.

[2017-09-13 15:45] kstapelfeldt commented on #188
We need to dig in and explore/scope this feature.

[2017-09-13 15:50] kstapelfeldt commented on #187
Requires work to both UIs and backend. We could consider a scope estimate as part of this release.

[2017-09-13 15:57] kstapelfeldt commented on #186
Related to #199

[2017-09-13 15:58] kstapelfeldt commented on #186
excludes #201?

[2017-09-20 14:51] kstapelfeldt commented on #103
As a user, I expect that when namespace restrictions are applied to a site, I will bring back only annotations with allowed namespaces. We are not sure if this is currently how the  software functions. This needs to be tested. We should explore in a multisite and singlesite environment.

Singlesite test: Create a namespace for annotations, create annotations under this namespace, enforce namespace

[2017-09-20 14:53] kstapelfeldt commented on #103
With the new collection for annotations, we may have another method available for restricting namespaces.

[2017-09-20 14:57] kstapelfeldt commented on #119
minimum fix is that annotation buttons are not available in fullscreen view. To be scoped.

[2017-09-20 14:59] kstapelfeldt commented on #133
Existing richtext video annotations conform to the model.  Implementing this for image annotation is a sizable piece of work, but we should look to see where plugins are at for this and scope.

[2017-09-20 15:01] kstapelfeldt commented on #143
need to test to see if this remains an issue in Chrome.

[2017-09-20 15:03] kstapelfeldt commented on #148
Test and see if this is still an issue and then document.

[2017-09-20 15:20] kstapelfeldt commented on #157
We think that the annotation collection will address this concern sufficiently. We can always return to the issue of annotation management in a later release if we receive feedback that existing methods are too cumbersome.

[2017-09-20 15:21] #157 closed, assigned to MarcusBarnes

[2017-09-20 15:23] kstapelfeldt commented on #184
This enhancement would ease installation. There is a great deal of documentation in the current release to resolve this issue, though we know it is a potential stumbling block.

[2017-09-20 15:23] #184 closed, assigned to nobody

[2017-09-20 15:25] kstapelfeldt commented on #185
Zooming would likely make the numbers appear as expected. Worth scoping. May be resolved with something like clustering. It may not be appropriate to expend this effort in the current release. Not a blocker for existing use cases.

[2017-09-20 15:26] kstapelfeldt commented on #220
Nat to test, merge, and then reassign to Kim for testing.

[2017-09-20 15:27] kstapelfeldt commented on #220
Go to admin page and there is no default value. A default value needs to be added. The process needs to to be documented in our wiki.

[2017-10-04 16:08] kstapelfeldt opened #231 "Review effects of recent PR to OpenSeaDragon library"
How does the merging of this code affect our annotation functions for large image. This issue must be resolved and then we need to review and test the remaining bugs to see if they are still relevant.

[2017-10-05 15:33] Natkeeran commented on #231
This issue is related to open sea dragon viewer not being available in the latest version.  Created a PR in the openseadragon module to address this issue: https://github.com/Islandora/islandora_openseadragon/pull/83

[2017-10-05 16:18] Natkeeran commented on #220
https://github.com/digitalutsc/islandora_web_annotations/pull/228 addresses this issue to some extent.  In the case user does not set configurations, it would default to `annotation` namespace.

[2017-10-05 18:23] Natkeeran commented on #218
We won't usually have to do this.  Lower priority.

Reference info: http://islandora.ca/sites/default/files/How%20to%20make%20a%20Solution%20Pack.pdf

[2017-10-05 18:56] Natkeeran commented on #217
This is no longer an issue.

[2017-10-05 18:56] #217 closed, assigned to Natkeeran

[2017-10-05 18:57] Natkeeran commented on #218
When the annotations WADM gets replaced, the derivative should be regenerated as well.

[2017-10-05 20:48] Natkeeran commented on #133
Notes:
https://www.tinymce.com/docs/get-started/first-steps/

[code]

[2017-10-05 20:51] Natkeeran commented on #119
Annotations buttons are not available on fullscreen.  https://annotorious.github.io currently does not support this.

@kstapelfeldt for review.

[2017-10-06 18:14] Natkeeran commented on #133
Proof of concept: `anno/example/example2.html`

[annootorious_tinymce.zip](https://github.com/digitalutsc/islandora_web_annotations/files/1363575/annootorious_tinymce.zip)

[2017-10-06 18:19] MarcusBarnes commented on #133
@Natkeeran For others to test, it's best to bundle the example HTML file with the image 640px-Hallstatt.jpg in a folder (which you can zip up and share in the issue comment thread).

[2017-10-06 18:29] Natkeeran commented on #133
[annootorious_tinymce.zip](https://github.com/digitalutsc/islandora_web_annotations/files/1363575/annootorious_tinymce.zip)

[2017-10-06 18:30] Natkeeran commented on #133
@MarcusBarnes I've zipped all required files.

[2017-10-06 18:35] MarcusBarnes commented on #133
Those taking a look at @Natkeeran's proof of concept will want to download the zip and open `example/example2.html` in your browser to see the TinyMCE GUI in the annotation input box.

[2017-10-10 16:53] Natkeeran commented on #187
Exploratory UI: [anno_tag.zip](https://github.com/digitalutsc/islandora_web_annotations/files/1372710/anno_tag.zip)  (See the anno/example/example.html)

Scope Notes:
* Test tagging UI for video
* Adjust CSS
* CRUD tags
* Change data structure to handle the new property
* Index tags

[2017-10-10 21:12] Natkeeran commented on #188
Depends on: https://github.com/digitalutsc/islandora_web_annotations/issues/199

* With respect to overlapping annotations, they can be ordered by creation time.  For now an edge case.

* "The highlighting would only appear when a user actually clicks the play button." - We can indicate which play button was clicked with some effect in the block.

We can convert the transcript in oral history into

[2017-10-11 13:51] Natkeeran commented on #197
Yes, the value we currently have for format property is not complaint with the standard.  This does not impact any user facing functionality.

Determining the mime type will be different for the current release and CLAW.

Scope:
* Create a function to determine the mimetype of the datastream.
* Adjust the logic to handle the new format value

[2017-10-11 13:57] Natkeeran commented on #201
We had reviewed this requirement before.  Thought it seems like that Solr/Drupal views would support, we did not find any simple solutions.

[2017-10-11 14:13] Natkeeran commented on #186
The clarify, the requirement is the following:
* From the search results of set of annotations, go to the parent object
* When the parent object opens, load the particular annotation user clicked in both image and video/audio

Dependencies:
#199
#201 (Implementing #201 should give us some better idea about going to the parent object.  In this case, we would need to supply additional parameters (an

[2017-10-11 15:47] kstapelfeldt commented on #231
Not as bad as we thought. Nat has created a pull request for Open Sea Dragon. Nat will create a JIRA ticket to go with the pull request, and is in communication with Diego about this. We are expecting it will be merged, but Nat will report back.

[2017-10-11 15:48] kstapelfeldt commented on #231
Need to update documentation after pull request is merged

[2017-10-11 15:54] kstapelfeldt commented on #133
Very cool, Nat! The example looks great.

[2017-10-11 16:21] kstapelfeldt commented on #186
Also see IslandLives results list: http://www.islandlives.ca/islandora/solr/search/tei.fullText%253A%2528%2522lobster%2522%2529%2520AND%2520dc.type%253A%2528collection%2529/1

Click on the first result to see how pages with "lobster" are displayed on the object record.

[2017-10-11 16:22] kstapelfeldt commented on #201
As there is no simple solution, we're not sure if this is better, worse or a dependency for the other Solr tickets. We are rethinking the UI of the search results for annotations and so need to discuss this in that context.

[2017-10-11 16:58] Natkeeran commented on #185
Currently we have simple HTML + CSS based.
Clustering type of feature would require substantial development effort (front end  and possibly backend).

[2017-10-11 19:37] Natkeeran commented on #183
Removing the 'sites/all/modules/islandora_web_annotations/lib/css/video-js/video-js.css' => 'sites/all/modules/islandora_web_annotations/lib/css/video-js/video-js.css' from context definition seems to fix this issue.  The default video-js.css from the islandora video-js module seems to work without issue.  Needs further testing.
      '

[2017-10-13 19:35] MarcusBarnes commented on #229
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/232 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/0ecbb2e16863d36237b16d63fd8e8bff697b6e1f).

[2017-10-13 19:35] #229 closed, assigned to nobody

[2017-10-16 17:13] MarcusBarnes commented on #221
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/234 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/60509a38520fe1621b91e62dc73ca97813fbf76e).

[2017-10-16 17:13] #221 closed, assigned to nobody

[2017-10-16 18:11] kstapelfeldt commented on #199
![img_20171016_140956](https://user-images.githubusercontent.com/467898/31627600-d658587a-b27b-11e7-8b01-f422b0b30221.jpg)
Summary of Discussions: We will bring back multiple results for multiple annotations. No default navigation to the annotation object view. Annotation body will be a portion of search result.

[2017-10-18 20:17] MarcusBarnes commented on #218
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/233 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/a65143d1c7187888fb471e23cccff4ff6d3febaa).

[2017-11-06 14:28] MarcusBarnes commented on #231
@Natkeeran's [pull-request](https://github.com/Islandora/islandora_openseadragon/pull/83) against [islandora_openseadragon](https://github.com/Islandora/islandora_openseadragon) was accepted and merged.   The corresponding [JIRA ticket](https://jira.duraspace.org/browse/ISLANDORA-2080) was also closed.

[2017-11-20 18:50] kimpham54 opened #235 "position issue - vertical displacement"
horizontal position is correct, vertical position is incorrect.

when an annotation is created, once it gets save the positioning is not saved correctly.
y position is being displaced north by about 1.31222815 units
it is currently unclear how to reproduce this bug as it happens erratically.

![screen shot 2017-11-20 at 13 48 37](https://user-images.githubusercontent.com/2915770/33035579-ab0bce42-

[2017-11-20 21:58] kimpham54 opened #236 "moving annotation windows around"
for images: once annotations are created, the ability to readjust the size/position of an annotation
Chad had expressed interest in this feature

[2017-11-20 22:01] kimpham54 commented on #185
noticed this issue again, in this case annotations were completely overlapping and you can't see or select the annotation behind the second annotation. see screenshot
<img width="710" alt="screen shot 2017-11-20 at 17 00 44" src="https://user-images.githubusercontent.com/2915770/33043731-6342fe9e-ce14-11e7-9e80-19dbb26479ea.png">

[2017-11-20 22:11] kimpham54 opened #237 "handling behaviour for deleting annotationContainers"
on hogarth site
deleting annotations and annotationContainer and then create another annotation did not create a new annotationcontainer. The new annotation relates back to the deleted annotationContainer. The solr index did not update to remove the deleted annotationContainer.

[2017-11-20 22:17] MarcusBarnes commented on #237
Possibly related closed issue https://github.com/digitalutsc/islandora_web_annotations/issues/221.  We may have to reopen if this is still an issue.   @kimpham54 Did you delete the annotationContainer through accessing the object manage tab by finding the AnnotationCollection object in the Annotation Collection or did you delete directly from Fedora?

[2017-11-21 13:50] kimpham54 commented on #237
I've done it both ways. from islandora it deleting the container deletes the annotations but it doesn't trigger solr. from fedora it doesn't delete the annotations and doesn't trigger solr. this is happening on the hogarth site

[2017-11-21 14:12] MarcusBarnes commented on #237
@kimpham54 Deleting from Fedora definitely wouldn't trigger a Solr update.  Deleting from the Islandora front-end should delete the annotationContainer properly based on #221 - this is where there could be something not functioning as expected.

[2017-11-21 16:33] MarcusBarnes commented on #237
Reviewing the Hogarth site, it appears that there has been some development work completed since Web Annotation was installed and updates were frozen for the semester.  @kimpham54 Would you be able to try reproduce this behaviour on a Islandra Vagrant VM using the latest from the default branch?   I believe that the pull-request that addressed issue #221 will probably delete the AnnotationContaine

[2017-11-22 18:28] kimpham54 opened #239 "compatibility issue with openseadragon 2.0.0 and 7.x-1.10"
for the 7.x-1.10 release, there seems to be compatibility issues with openseadragon 2.0.0. when annotations is enabled, the viewer is displaced. when annotations is disabled there is only a black screen in the viewer and the image does not display.

Tested on VM 7.x-1.10 release

islandora_openseadragon for 7.x-1.10 currently uses openseadragon 2.3.1.

enabled web annotations with 2.3.1:
<img widt

[2017-11-22 18:30] Natkeeran commented on #239
@kimpham54
For 1.7.10, you will need to get latest web annotations and openseadragon module.  No need to use the specific 2.0.0 versions.  Documentation  need to be updated.

[2017-11-22 18:31] kimpham54 commented on #239
@Natkeeran I tested with 2.3.1 and still had a display issue (see above screenshot)

[2017-11-22 18:32] Natkeeran commented on #239
@kimpham54 Hmm, ok, thanks Kim.  Will test it.

[2017-11-23 16:37] MarcusBarnes commented on #235
Addressed in pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/238 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/abe73783a2abf5fd028c1d3198e523b6bfb16766).

[2017-11-23 16:37] #235 closed, assigned to nobody

[2017-12-05 16:05] kimpham54 commented on #236
from dec 4 meeting with Chad and Anne Milne: students are constantly revising and editing annotations based on instructor feedback. Would also be good to revise annotations if overlapping/directly impacts visibility or annotations of other annotations.

jan 9 additional request to I’m eager to fix annotation boxes so that they don't overlap

[2017-12-05 16:45] kimpham54 commented on #239
how are we going to handle the openseadragon fix? msg to rosie and diego:

We've decided that we're going to use the 7.x branch of islandora_openseadragon when we upgrade to islandora 7.x-1.10.

Issuing a patch for 7.x-1.10 is a good solution for others, and because we intend to issue a 7.x-1.10 release of the web annotations module. But as you mentioned Diego, instead of going down the patch blac

[2018-01-09 16:43] kimpham54 commented on #216
moved to https://github.com/Islandora-Labs/islandora_solution_pack_oralhistories/issues/116

[2018-01-09 16:43] #216 closed, assigned to nobody

[2018-01-09 16:43] #218 closed, assigned to nobody

[2018-01-16 15:29] kimpham54 commented on #185
solution difficult to implement. detect if overlapped, move the labelling. difficult if multiple annotations overlap
possible other solution is to hover on other annotation and bring to foreground

issue will be addressed by moving around annotation windows to avoid overlapping https://github.com/digitalutsc/islandora_web_annotations/issues/236

[2018-01-16 15:29] #185 closed, assigned to nobody

[2018-01-16 15:39] kimpham54 commented on #202
Delete annotation library for audio/video doesn't have callback function so it's not straightforward to implement.

[2018-01-16 15:40] #231 closed, assigned to Natkeeran

[2018-01-16 15:41] kimpham54 commented on #119
Further investigation needed. Annotation library does not seem to support full screen view in OpenSeaDragon

[2018-01-16 15:42] kimpham54 commented on #237
make sure to test in local

[2018-01-16 15:44] kimpham54 commented on #239
needs to be documented. use 7.x branch instead of 7.x-1.10

[2018-01-22 20:34] Natkeeran commented on #201
@kimpham54 @MarcusBarnes

Please test the  list_annotations  branch: https://github.com/digitalutsc/islandora_solr_search.  Ensure that you have annotation_parent as one of the solr fields.

[2018-01-24 16:29] #199 closed, assigned to Natkeeran

[2018-01-24 17:53] MarcusBarnes commented on #186
@Natkeeran @kimpham54 Looking at the comment above https://github.com/digitalutsc/islandora_web_annotations/issues/186#issuecomment-304680823, it appears that a similar type of functionality is desired for basic and large image annotations from search.   Maybe we can split that into a new issue and close this one, since the functionality has been added for audio and video content types?

[2018-01-31 21:27] Natkeeran commented on #143
Please use the below context after this PR gets in and test this.  We are updating the tinymce editor in that PR.

[code]

[2018-02-06 20:45] Natkeeran commented on #239
Updated the documentation here: https://github.com/digitalutsc/islandora_web_annotations/wiki/Large-Image

[2018-02-06 20:45] #239 closed, assigned to Natkeeran, kimpham54

[2018-02-06 20:45] #148 closed, assigned to kimpham54

[2018-02-06 21:16] Natkeeran commented on #220
Added documentation here: https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/README.md

[2018-02-06 21:16] #220 closed, assigned to Natkeeran

[2018-02-12 14:39] #133 closed, assigned to Natkeeran

[2018-02-15 23:06] kimpham54 commented on #219
done

[2018-02-15 23:07] #219 closed, assigned to kimpham54

[2018-02-15 23:08] kimpham54 commented on #224
works. just need to wait for solr to update. noted in documentation the latency period

[2018-02-15 23:08] #224 closed, assigned to kimpham54

[2018-02-16 14:27] kimpham54 commented on #143
context has been updated in documentation. when you create an annotation for a video object, you still have to click in the top left area but it's not as finicky. when you edit a video annotation, you don't have to click on the top left corner. fix is acceptable.

[2018-02-16 14:28] #143 closed, assigned to kimpham54

[2018-02-20 15:35] kimpham54 commented on #183
needs to be documented prior to release

[2018-02-20 15:36] kimpham54 commented on #201
needs to be documented prior to release

[2018-02-20 17:27] MarcusBarnes commented on #183
For shorter cues, the suggestion of removing 'sites/all/modules/islandora_web_annotations/lib/css/video-js/video-js.css' => 'sites/all/modules/islandora_web_annotations/lib/css/video-js/video-js.css' from context definition appears to work.  However, when there is a large amount of text in a given cue, the box containing the captions extends beyond the video block.

If a suitable solution is not a

[2018-02-20 17:46] kimpham54 commented on #183
@MarcusBarnes documenting sounds fine. can you create a new issue referencing this one based on your observation?

[2018-02-20 18:12] MarcusBarnes opened #245 "Long captions appear outside of media player for OH objects when captions displayed at bottom of media player."
When implementing the [initial approach to making captions appear at the bottom of the video.js player for OH objects](https://github.com/digitalutsc/islandora_web_annotations/wiki/Video,-Audio,-Oral-History#making-adjustments-to-the-closed-captions-position), very long captions create a caption box that may extend beyond the media player box.

From this comment https://github.com/digitalutsc/isla

[2018-02-20 18:13] MarcusBarnes commented on #183
Documentation at https://github.com/digitalutsc/islandora_web_annotations/wiki/Video,-Audio,-Oral-History#making-adjustments-to-the-closed-captions-position

The new issue is at https://github.com/digitalutsc/islandora_web_annotations/issues/245

[2018-02-20 18:13] #183 closed, assigned to MarcusBarnes

[2018-02-20 18:52] MarcusBarnes commented on #237
I've tested again using the release candidate code and this issue appears to be resolved in the latest code.  Once the Hogarth site is updated to use the most recent WA release the issue there should be resolved too.

[2018-02-20 18:52] #237 closed, assigned to nobody

[2018-02-21 14:44] MarcusBarnes commented on #201
Initial documentation provided at https://github.com/digitalutsc/islandora_web_annotations/wiki/How-to-Play-an-Audio-or-Video-Segment-when-Clicking-an-Annotation-in-Solr-Search .

[2018-02-21 14:44] #201 closed, assigned to MarcusBarnes

[2018-02-28 13:53] kimpham54 opened #247 "slight lag on RTF interface for basic image/large image"
When I go to create an annotation in basic image/large image, or if I click on an annotation and edit it, you can see the the original black background for a split second, meaning there is a slight lag in the RTF interface showing up.

[2018-03-02 21:07] kimpham54 opened #248 "annotation position issue revisited"
related: https://github.com/digitalutsc/islandora_web_annotations/issues/235

description: on feb 14 students went in and created annotations, in the marriage in context collection, for an example image see http://hogarth.digitalscholarship.utsc.utoronto.ca/islandora/object/hogarth%3A130. one student, ZO, was experiencing issues with creating annotations. the student went in to create an annotatio

[2018-03-08 19:33] kimpham54 commented on #248
Chad to try and reproduce. Nat could not reproduce. It's possible that it has to do with the student's browser on that workstation. Chad had also tried on that same workstation and had problems creating the annotation.

Chad mentioned that when the student was trying to create the annotation box, the cursor was hovering over a part of an image, but it wasn't creating the box. Possibly the box was

[2018-03-08 19:41] kimpham54 opened #249 "solr indexing inconsistency"
The two affected plates are 5 and 6, similar to issue #248, possible related issue because it's the exact two plates that's being affected and nothing else. though the issues seem like they wouldn't be related.

Affected objects:
http://hogarth.digitalscholarship.utsc.utoronto.ca/islandora/object/hogarth%3A130
http://hogarth.digitalscholarship.utsc.utoronto.ca/islandora/object/hogarth%3A131

In th

[2018-03-09 20:08] kimpham54 commented on #248
was able to reproduce issue using Edge and Internet Explorer, two browsers we do not support. Issue needs to be documented, say that we can support viewing but not editing in IE

[2018-03-09 20:10] kimpham54 commented on #248
edited https://github.com/digitalutsc/islandora_web_annotations/wiki/How-is-this-module-tested%3F in the wiki

[2018-03-09 20:10] #248 closed, assigned to nobody

[2018-03-12 17:49] MarcusBarnes commented on #249
This issue should be addressed with the change introduced via pull-request https://github.com/digitalutsc/islandora_web_annotations/pull/250 (merged with commit https://github.com/digitalutsc/islandora_web_annotations/commit/a83e4586167445e10ae20e444b673f10fd2491fa).

[2018-03-12 17:49] #249 closed, assigned to nobody

[2018-03-28 15:23] MarcusBarnes opened #252 "Document browser support"
Document in the README (and elsewhere as appropriate) that currently Web Annotations is only supported in Firefox and Chrome (not in IE or Edge browsers).

[2018-03-28 15:41] MarcusBarnes commented on #252
Documented in the status section of the [README](https://github.com/digitalutsc/islandora_web_annotations/blob/7.x/README.md#status).

[2018-03-28 15:41] #252 closed, assigned to MarcusBarnes

[2018-03-28 17:38] kimpham54 opened #253 "hardcoded paths"
php notice on our systems ever since module structure in islandora versioned folders, related to context

[2018-03-28 17:55] irfanrahman commented on #253
in details;

for easier module maint, I've moved "islandora_web_annotations" folder/module

/var/www/hogarth/sites/all/modules/islandora_web_annotations
to
/var/www/hogarth/sites/all/modules/custom/islandora_web_annotations

When viewing drupal pages, I get error for following items;

[code]

[2018-04-11 17:21] kimpham54 opened #254 "default thumbnail for annotations"
create a default thumbnail TN datastream for annotation content models, that way we don't get a broken thumbnail image when we do a search
<img width="1258" alt="screen shot 2018-04-11 at 13 20 26" src="https://user-images.githubusercontent.com/2915770/38632620-468c4594-3d8b-11e8-9415-83180fb51938.png">

[2018-04-12 16:50] Natkeeran opened #255 "oral histories content model - create annotation issue"
After creating an annotation in the oral histories content model, the UI does not return to summary mode.  Refreshing it does display the annotations correctly.  Seems like an UI issue.

![oral history creating annotations](https://user-images.githubusercontent.com/1827166/38691889-22d6c712-3e50-11e8-9d91-a677a5e14917.png)

http://nearby-studies.digitalscholarship.utsc.utoronto.ca/islandora/object

[2018-05-24 16:12] Natkeeran commented on #255
I've reviewed this issue and found that this issue occurs when " Aggregate JavaScript files. " in drupal Performance configuration is enabled.  When files get aggregated, the order in which the js gets aggregated cannot be determined.  For video annotations, the order is important.

A possible solution is to simply disable javascript file aggregation.

We are considering pre aggregating all the ja

[2018-06-26 16:31] MarcusBarnes opened #257 "Implement hook_requirements() against a checklist to aid module configuration and installation"
Implement hook_requirements() against a checklist in the module configuration, to help aid administrators track which setup steps (outside of the module requirement steps) are needed in order for the Web Annotation Module to be minimally installed.  For an example of how to do this, see: https://github.com/MarcusBarnes/status_report_demo.

[2018-07-09 15:32] MarcusBarnes opened #258 "Documentation: Make "Indexing annotations in Solr" wiki page help smoother"
Edit the Indexing annotations in Solr wiki page to help for a smoother setup.  For example, when describing editing `solrconfig.xml`, provide the file path to the file on the standard development vagrant ``/usr/local/solr/collection1/conf/solrconfig.xml`` and appropriate commands (e.g., `sudo nano solrconfig.xml`).  Possibly also link the steps in this wiki page to the checklist recommended in thi